// Форма
.b-form {

	// любой контролл
	&-control {
		font-family: inherit;
		font-weight: 300;
		display: block;
		width: 100%;
		height: 44px;
		padding: 14px;
		font-size: 14.4px;
		line-height: 1;
		color: #000;
		background-color: #ffffff;
		background-image: none;
		border: 1px solid #cecece;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

		&:focus {
			outline: 0;
			border-color: #00955F;
		}

		&::-moz-placeholder {
			color: #646464;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: #646464;
		}
		&::-webkit-input-placeholder {
			color: #646464;
		}
		&::-ms-expand {
			border: 0;
			background-color: transparent;
		}

		// в строку
		&-inline {
			display: inline-block;
			width: auto;
			vertical-align: middle;
		}
	}

	// только для текстареа
	textarea.b-form-control {
		height: auto;
	}

	// группа
	&-group {
		margin-bottom: 15px;
		text-align: left;

		// форма в строку
		&-inline {
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 0;
		}
	}

	// например, поиск в меню
	&-input-group {
		position: relative;
		width: 100%;
		display: table;
		border-collapse: separate;

		.b-form-control {
			position: relative;
			z-index: 2;
			float: left;
			width: 100%;
			margin-bottom: 0;
			display: table-cell;
		}

		&-btn {
			position: relative;
			font-size: 0;
			white-space: nowrap;
			width: 1%;
			vertical-align: middle;
			display: table-cell;
		}

	}

	//input[type="file"].b-form-control {
	//	width: 0.1px;
	//	height: 0.1px;
	//	opacity: 0;
	//	overflow: hidden;
	//	position: absolute;
	//	z-index: -1;
	//}
	//
	//input[type="file"].b-form-control + label {
	//	font-family: inherit;
	//	font-weight: 300;
	//	display: inline-block;
	//	width: 100%;
	//	height: 44px;
	//	padding: 14px;
	//	padding-top: 12px; // кажется так
	//	font-size: 14.4px;
	//	line-height: 1.42857143;
	//	color: #646464;
	//	text-align: left;
	//	background-color: #ffffff;
	//	background-image: none;
	//	border: 1px solid #cecece;
	//	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	//	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	//	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	//	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	//	cursor: pointer;
	//
	//	.fa {
	//		color: #00955F;
	//	}
	//}
	//
	//input[type="file"].b-form-control:focus + label {
	//	border-color: #00955F;
	//}
}
