.b-box {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
				0 3px 1px -2px rgba(0, 0, 0, 0.2),
				0 1px 5px 0 rgba(0, 0, 0, 0.12);
	position: relative;
	background-color: #ffffff;
	height: 100%;

	&__wrapper {
		padding: 18px 27px 27px 27px;
	}

	&__image {
		text-align: center;
		margin: 0 auto 26px auto;
		width: 180px;

		&-fullsize {
			margin: 0 auto 8px auto;

			img {
				width: 100%;
				height: auto;
			}
		}

		&-halfsize {
			margin: 0;

			img {
				width: 360px;
				height: 108px;
			}
		}
	}

	&__header {
		font-size: 16.2px;
		font-weight: 700;
		color: #232323;
		margin: 0 0 12px 0;
		padding: 0;
		display: block;
		max-width: 440px;

		&-big {
			font-size: 27px;
			line-height: 28.8px;
			margin: 0 0 17px 0;
		}
	}

	&__author {
		font-size: 9px;
		text-transform: uppercase;
		margin-bottom: 12px;
		font-weight: 300;
	}

	&__text {
		font-size: 12.6px;
		font-weight: 300;
		color: #292929;
		line-height: 16.2px;
		margin: 0;
	}

	&__footer {
		border-top: 1px solid #e8e8e8;

		&-left, &-right {
			float: left;
			color: #777777;
			font-size: 12.6px;
			font-weight: 300;
			line-height: 12.6px;
		}

		&-right {
			float: right;
		}
	}

	&__sale {
		position: absolute;
		top: 18px;
		right: -10px;
		background-color: #b71613;
		padding: 9px 9px 12px 8px;
		color: #ffffff;
		font-size: 9px;

		&::after {
			position: absolute;
			content: " ";
			border: 5px solid transparent;
			border-left: 5px solid #7b0d0b;
			border-top: 5px solid #7b0d0b;
			bottom: -10px;
			right: 0px;
		}
	}

	/* animation */
	&:hover {
		box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.14),
					0 4px 2px 0px rgba(0, 0, 0, 0.2),
					0 2px 6px 0 rgba(0, 0, 0, 0.12);
	}

	/* Colorful */

	&-red {
		background-color: #cb0a16;

		.b-box__author {
			color: #e6a5a7;
		}

		.b-box__text, .b-box__header {
			color: #ffffff;
		}
	}

	&-green {
		background-color: #00955f;

		.b-box__author {
			color: #37ba8b;
		}

		.b-box__text, .b-box__header {
			color: #ffffff;
		}
	}

	&-black {
		background-color: #131313;

		.b-box__author {
			color: #a7a7a7;
		}

		.b-box__text, .b-box__header {
			color: #ffffff;
		}
	}

	// TODO Надо менять тень при наведении
	&:hover {
	}

	// Без тени
	&_noshadow {
		box-shadow: none;
	}
}
