@mixin column {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding-box !important;
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;
	position: relative;
	min-height: 1px;
}

@mixin fluid-column {
	position: relative;
	min-height: 1px;
	padding-right: 9px;
	padding-left: 9px;
	float: left;
}

.grid {
	&__row {
		&:after {
			clear: both;
			display: table;
			content: " ";
		}

		&-btm {
			padding-bottom: 32px;
		}
	}

	&__column {

		&-1 {
			@include column;
			width: 90px;
		}
		&-2 {
			@include column;
			width: 180px;
		}
		&-3 {
			@include column;
			width: 270px;
		}
		&-4 {
			@include column;
			width: 360px;
		}
		&-5 {
			@include column;
			width: 450px;
		}
		&-6 {
			@include column;
			width: 540px;
		}
		&-7 {
			@include column;
			width: 630px;
		}
		&-8 {
			@include column;
			width: 720px;
		}
		&-9 {
			@include column;
			width: 810px;
		}
		&-10 {
			@include column;
			width: 900px;
		}
		&-11 {
			@include column;
			width: 990px;
		}
		&-12 {
			@include column;
			width: 1080px;
		}

		/*
		* Крутые дизайнеры
		*/
		&-custom-612 {
			@include column;
			width: 612px;
		}

	}

	&__offset {
		margin-left: 90px;

		&-small {
			margin-left: 36px;
		}
	}

	// зачатки флюидного грида
	// считаем пока, что колонок 14
	&-fluid {

		.grid__row {
			margin-right: -9px;
			margin-left: -9px;
		}

		.grid__row-btm {
			margin-bottom: 18px;
		}

		.grid__row-top {
			margin-top: 18px;
		}

		.grid__column-1 {
			@include fluid-column;
			width: 7.14285714%;
		}
		.grid__column-2 {
			@include fluid-column;
			width: 14.28571429%;
		}
		.grid__column-3 {
			@include fluid-column;
			width: 21.42857143%;
		}
		.grid__column-4 {
			@include fluid-column;
			width: 28.57142857%;
		}
		.grid__column-5 {
			@include fluid-column;
			width: 35.71428571%;
		}
		.grid__column-6 {
			@include fluid-column;
			width: 42.85714286%;
		}
		.grid__column-7 {
			@include fluid-column;
			width: 50%;
		}
		.grid__column-8 {
			@include fluid-column;
			width: 57.14285714%;
		}
		.grid__column-9 {
			@include fluid-column;
			width: 64.28571429%;
		}
		.grid__column-10 {
			@include fluid-column;
			width: 71.42857143%;
		}
		.grid__column-11 {
			@include fluid-column;
			width: 78.57142857%;
		}
		.grid__column-12 {
			@include fluid-column;
			width: 85.71428571%;
		}
		.grid__column-13 {
			@include fluid-column;
			width: 92.85714286%;
		}
		.grid__column-14 {
			@include fluid-column;
			width: 100%;
		}
	}
}
