{% load static from staticfiles %}
{% load extras %}

{% comment %}
Нижний блок с медиа
{% endcomment %}

<div class="b-section">
    <div class="b-layout">
        <div class="grid__row">
            <div class="grid__column-4">
                <h3 class="subheading">Новинка производства</h3>
                <a class="b-link_pseudo"
                   href="{% url 'catalog_category' product_for_bottom|get_full_product_path %}">
                    <div class="b-box b-box_90">
                        <div class="b-box__wrapper">
                            <div class="b-box__body">
                                <div class="b-box__image">
                                    {% if product_for_bottom.images.first %}
                                        <img src="{{ product_for_bottom.images.first.image.url }}"
                                             alt="Пример Продукта">
                                    {% else %}
                                        <img src="{% static 'img/products/product_sale.png' %}" alt="Пример Продукта">
                                    {% endif %}
                                </div>
                                <p class="b-box__author">
                                    {{ product_for_bottom.category.name }}
                                </p>
                                <p class="b-box__text">
                                    {{ product_for_bottom.name | truncatechars:35 }}
                                </p>
                                <div class="b-box__sale">Хит</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="grid__column-4 grid__offset">
                <h3 class="subheading">Последняя новость</h3>
                <a class="b-link_pseudo" href="{% url 'news_detail' news_for_bottom.slug %}">
                    <div class="b-box b-box_90">
                        <div class="b-box__wrapper">
                            <div class="b-box__body">
                                <p class="b-box__author">
                                    {{ news_for_bottom.date_created }}
                                </p>
                                <p class="b-box__text">
                                    {{ news_for_bottom.title | truncatechars:75 }}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="grid__column-4 grid__offset">
                <h3 class="subheading">Видео как закалялась сталь</h3>
                {% if media_for_bottom %}
                    <a class="b-link_pseudo" href="{% url 'photogallery_detail' media_for_bottom.slug %}">
                {% endif %}
                <div class="b-box b-box_90">
                    <div class="b-box__image-halfsize">
                        {% if media_for_bottom %}
                            <img src="{{ media_for_bottom.cover_image.url }}" alt="Пример баннера">
                        {% else %}
                            <img src="{% static 'img/news/news2.png' %}" alt="Пример баннера">
                        {% endif %}
                    </div>
                </div>
                {% if media_for_bottom %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>