{% block footer %}
    <div class="b-section">
        <div class="b-layout">
            <div class="grid__row">
                <div class="grid__column-4">
                    <h4 class="b-section-subtitle">Офис</h4>
                    <span class="b-section-text">
                        107014, г. Москва, ул. Стромынка, д. 13а
                        Телефон: +7 (495) 545-36-90
                    </span>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h4 class="b-section-subtitle">Производство</h4>
                    <span class="b-section-text">
                        454008, г. Челябинск, ул. Автодорожная, д.3
                        Телефон: +7 (351) 729-99-47
                    </span>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h4 class="b-section-subtitle">Мы на связи</h4>
                    <div class="b-section-social">
                        <ul class="b-section-social-list">
                            <li class="b-section-social-list__item">
                                <a href="skype:zavodtriumph?call"><i class="fa fa-skype" aria-hidden="true"></i></a>
                            </li>
                            <li class="b-section-social-list__item">
                                <a href="http://www.facebook.com/zavodtriumph.ru"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li class="b-section-social-list__item">
                                <a href="http://vk.com/planttriumph"><i class="fa fa-vk" aria-hidden="true"></i></a>
                            </li>
                            <li class="b-section-social-list__item">
                                <a href="http://twitter.com/zavodtriumph"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li class="b-section-social-list__item">
                                <a href="https://plus.google.com/+ZavodtriumphRu"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </li>
                            <li class="b-section-social-list__item">
                                <a href="http://www.youtube.com/user/zavodtriumph"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                            </li>
                            <li class="b-section-social-list__item">
                                <a href="http://instagram.com/zavodtriumph"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-footer">
        <div class="b-layout">
            <div class="grid__row">
                <span class="b-footer-text pull-left">© 1995 — 2016 ООО «Завод Триумф»</span><span class="b-footer-text pull-right">Свидетельство и лицензии Завода</span>
            </div>
        </div>
    </div>
{% endblock %}