{% load extras %}

{% block menu %}
    <div class="b-menu" id="b-menu">
        <div class="b-layout">
            <table class="b-menu-table">
                <tr>
                    <td class="b-menu__item">
                        <a href="{% url "about" %}"
                           class="b-menu__item-link {% if menu_active_item == 'about' %}b-menu__item-link-active {% endif %}">О
                            компании</a>
                    </td>
                    <td class="b-menu__item">
                        <a href="{% url "catalog" %}"
                           class="b-menu__item-link {% if menu_active_item == 'catalog' %}b-menu__item-link-active {% endif %}">Каталог</a>
                        <div class="b-menu__submenu">
                            <div class="submenu__content">
                                <div class="submenu__column">
                                    <div class="submenu__group">
                                        <a href="{% url "catalog_category" 'teploobmennik-vodovodjanoy/' %}"
                                            class="b-link_pseudo">
                                                <h2 class="submenu__group-title">Кожухотрубные теплообменники</h2></a>
                                        <ul class="submenu__group__list">
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'vodovodjanye-podogrevateli/' %}"
                                                   class="submenu__group__list__item-link">Водоводяные подогреватели</a>
                                            </li>
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'vodovodjanye-podogrevateli/kalachi/' %}"
                                                   class="submenu__group__list__item-link">Калачи для ВВП, переходы для
                                                    ВВП</a>
                                            </li>
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'parovodjanye-podogrevateli/' %}"
                                                   class="submenu__group__list__item-link">Подогреватели пароводяные</a>
                                            </li>
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'emkostnoe-oborudovanie/podogrevateli-parovye-emkostnye-tipa-vpe-std/' %}"
                                                   class="submenu__group__list__item-link">Подогреватели паровые
                                                    емкостные (ВПЕ)</a>
                                            </li>
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'konvektory-otoplenija/' %}"
                                                   class="submenu__group__list__item-link">Конвекторы отопления</a>
                                            </li>
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'registry-otopitelnye/' %}"
                                                   class="submenu__group__list__item-link">Регистры отопительные</a>
                                            </li>
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'pajanye-plastinchatye-teploobmenniki/' %}"
                                                   class="submenu__group__list__item-link">Паяные теплообменники</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="submenu__group">
                                        <a href="{% url "catalog_category" 'grjazevik/' %}"
                                            class="b-link_pseudo">
                                                <h2 class="submenu__group-title">Грязевики</h2></a>
                                        <ul class="submenu__group__list">
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'grjazevik/grjazeviki-gorizontalnye-gg-serija-ts-565-ts-566/' %}"
                                                   class="submenu__group__list__item-link">Горизонтальные: ТС-565,
                                                    ТС-566</a>
                                            </li>
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'grjazevik/grjazeviki-vertikalnye-gv-serija-ts-567-ts-568/' %}"
                                                   class="submenu__group__list__item-link">Вертикальные: ТС-567,
                                                    ТС-568</a>
                                            </li>
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'grjazevik/grjazeviki-vertikalnye-gv-serija-ts-567-ts-568/' %}"
                                                   class="submenu__group__list__item-link">Грезевики для
                                                    тепловых пунктов (ГТП) ТС-569</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="submenu__group">
                                        <a href="{% url "catalog_category" 'vozdukhosborniki-a1i/' %}"
                                            class="b-link_pseudo">
                                                <h2 class="submenu__group-title">Воздухосборники А1И</h2></a>
                                        <ul class="submenu__group__list">
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'vozdukhosborniki-a1i/vertikalnye-vozdukhosborniki/' %}"
                                                   class="submenu__group__list__item-link">Вертикальные</a>
                                            </li>
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'svarnye-teploobmenniki/' %}"
                                                   class="submenu__group__list__item-link">Горизонтальные</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="submenu__column submenu__column-offset">
                                    <div class="submenu__group">
                                        <a href="{% url "catalog_category" 'plastinchatye-teploobmenniki/' %}"
                                            class="b-link_pseudo">
                                                <h2 class="submenu__group-title">Пластинчатые теплообменники</h2></a>
                                        <ul class="submenu__group__list">
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'plastinchatye-teploobmenniki/ridan/' %}"
                                                   class="submenu__group__list__item-link">Теплообменники Ридан, Funke,
                                                    Tranter</a>
                                            </li>
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'svarnye-teploobmenniki/' %}"
                                                   class="submenu__group__list__item-link">Сварные теплообменники</a>
                                            </li>
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'spiralnye-teploobmenniki/' %}"
                                                   class="submenu__group__list__item-link">Спиральные теплообменники</a>
                                            </li>
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'pogruzhnye-teploobmenniki/' %}"
                                                   class="submenu__group__list__item-link">Погружные теплообменники</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="submenu__group">
                                        <h2 class="submenu__group-title">Другие категории</h2>
                                        <ul class="submenu__group__list">
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'okhladiteli-vypara/' %}"
                                                   class="submenu__group__list__item-link">Охладители выпара</a>
                                            </li>
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'podogrevateli-mazuta/' %}"
                                                   class="submenu__group__list__item-link">Подогреватели мазута</a>
                                            </li>
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'dnishha-ellipticheskie/' %}"
                                                   class="submenu__group__list__item-link">Днища эллиптические</a>
                                            </li>
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'elevatory/' %}"
                                                   class="submenu__group__list__item-link">Элеваторы</a>
                                            </li>
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'truboprovodnaja-armatura/' %}"
                                                   class="submenu__group__list__item-link">Трубопроводная арматура</a>
                                            </li>
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'kontejjnery-dlja-musora/' %}"
                                                   class="submenu__group__list__item-link">Контейнеры для мусора</a>
                                            </li>
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'nestandartizirovannoe-oborudovanie/' %}"
                                                   class="submenu__group__list__item-link">Нестандартизированное
                                                    оборудование</a>
                                            </li>
                                            <li class="submenu__group__list__item">
                                                <a href="{% url "catalog_category" 'montazh-oborudovanija/' %}"
                                                   class="submenu__group__list__item-link">Монтаж
                                                    оборудования</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="b-menu__item">
                        <a href="{% url "prajjsy" %}"
                           class="b-menu__item-link {% if menu_active_item == 'prajjsy' %}b-menu__item-link-active {% endif %}">Прайс-листы</a>
                    </td>
                    <td class="b-menu__item">
                        <a href="{% url "dostavka" %}"
                           class="b-menu__item-link {% if menu_active_item == 'dostavka' %}b-menu__item-link-active {% endif %}">Доставка</a>
                    </td>
                    <td class="b-menu__item">
                        <a href="{% url "razreshenie_na_primenenie" %}"
                           class="b-menu__item-link {% if menu_active_item == 'dokumentatsija' %}b-menu__item-link-active {% endif %}">Документация</a>
                    </td>
                    <td class="b-menu__item">
                        <a href="{% url "news" %}"
                           class="b-menu__item-link {% if menu_active_item == 'news' %}b-menu__item-link-active {% endif %}">Новости</a>
                    </td>
                    <td class="b-menu__item">
                        <a href="{% url "articles" %}"
                           class="b-menu__item-link {% if menu_active_item == 'articles' %}b-menu__item-link-active {% endif %}">Статьи</a>
                    </td>
                    <td class="b-menu__item">
                        <span href="{% url "photogallery" %}"
                              class="b-menu__item-link {% if menu_active_item == 'gallery' %}b-menu__item-link-active {% endif %}">Медиа</span>
                        <div class="b-menu__submenu b-menu__submenu_small">
                            <div class="submenu__content">
                                <div class="submenu__column">
                                    <ul class="submenu__group__list">
                                        <li class="submenu__group__list__item">
                                            <a href="{% url "photogallery" %}"
                                               class="submenu__group__list__item-link">Фотогалерея</a>
                                        </li>
                                        <li class="submenu__group__list__item">
                                            <a href="{% url "videogallery" %}"
                                               class="submenu__group__list__item-link">Видеогалерея</a>
                                        </li>
                                        <li class="submenu__group__list__item">
                                            <a href="{% url "videootzyvy" %}"
                                               class="submenu__group__list__item-link">Видеоотзывы</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="b-menu__item">
                        <a href="{% url "faq" %}"
                           class="b-menu__item-link {% if menu_active_item == 'faq' %}b-menu__item-link-active {% endif %}">Вопросы
                            и ответы</a>
                    </td>
                    <td class="b-menu__item">
                        <a href="{% url "contacts" %}"
                           class="b-menu__item-link {% if menu_active_item == 'contacts' %}b-menu__item-link-active {% endif %}">Контакты</a>
                    </td>
                    <td class="b-menu__item">
                        <a id="js-search" href="#"
                           class="b-menu__item-link {% if menu_active_item == 'search' %}b-menu__item-link-active {% endif %}"><i
                                class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </table>
            <div class="b-menu__search">
                <div class="b-menu__search__wrapper">
                    <form class="b-form" method="get" action="{% url "search" %}">
                        <div class="b-form-group">
                            <div class="b-form-input-group">
                                <input type="text" class="b-form-control" placeholder="Что хотите найти?" id="search"
                                       maxlength="200" name="search">
                                <span class="b-form-input-group-btn">
                                    <button class="b-btn b-btn-default b-btn-search" type="submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}