.b-slider {
	&__wrapper {
		position: relative;
	}

	&__arrow-left, &__arrow-right {
		position: absolute;
		display: block;
		top: 15px;
		width: 18px;
		height: 32px;
	}
	&__arrow-left {
		background: url('../img/slider/arrow-left.png') center center no-repeat;
		left: 0;
	}
	&__arrow-right {
		background: url('../img/slider/arrow-right.png') center center no-repeat;
		right: 0;
	}

	&__item {
		text-align: center;

		&-title {
			font-size: 16.2px;
			font-weight: 700;
			color: #292929;
		}

		&-desc {
			font-size: 12.6px;
			font-weight: 300;
			color: #868686;
		}
	}
}
