.b-btn {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	line-height: 34px;
	border: 1px;
	padding: 0 12px;
	cursor: pointer;
	font-size: 12.6px;
	font-family: "Roboto", Arial, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
	text-decoration: none;

	text-shadow: none;
	border-color: #2d9d79;
	background-color: #00955f;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.03), rgba(0, 0, 0, 0.03)), none;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.03)), to(rgba(0, 0, 0, 0.03))), none;
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.03), rgba(0, 0, 0, 0.03)), none;

	&__text {
		font-weight: 500;
		color: #ffffff;
	}

	&:hover {
		text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
		background-color: #007a4e;
		border-color: #299472;
		background-image: -webkit-linear-gradient(top, transparent, transparent), none;
		background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), none;
		background-image: linear-gradient(180deg, transparent, transparent), none;
	}

	&__fullwidth {
		display: block;
		width: 100%;
		margin: 0;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		padding: 12px 0;
		line-height: 22px;

		.b-btn__text {
			font-weight: 500;
			font-size: 14.4px;
			line-height: 1;
		}
	}

	&-default {
		background-color: transparent;

		&:hover {
			text-shadow: none;
			background-color: transparent;
			background-image: -webkit-linear-gradient(top, transparent, transparent), none;
			background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), none;
			background-image: linear-gradient(180deg, transparent, transparent), none;
			border-color: #ccc;
			color: #000;
		}
	}

	&-revert {
		text-shadow: none;
		background: transparent;
		box-shadow: none;
		border: none;

		&:hover {
			text-shadow: none;
			background: transparent;
			border: 0;
			color: #000;

			.b-btn__text {
				color: #000;
			}
		}

		.b-btn__text {
			color: #868686;
		}
	}

	// для поиска
	&-search {
		height: 44px;
		border: 1px solid #ccc;
		border-radius: 0;
		border-left: 0;
		padding: 12px 28px;
		color: #868686;
		line-height: 1;
	}
}

.ico + .b-btn__text {
	margin-left: 6px;
}

.b-btn + .b-btn {
	margin: 0 18px 0 0;
}
