// Блок для вывода HTML, чтобы поддерживались все теги
.b-content {
	font-size: 16.2px;
	color: #292929;
	line-height: 21.6px;
	font-weight: 300;
	margin-bottom: 32px;

	p {
		font-size: 16.2px;
		color: #292929;
		line-height: 21.6px;
		margin-bottom: 32px;
		font-weight: 300;
		margin-top: 0;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	a {
		text-decoration: none;
		color: #00955F;
	}
}