// Блок для вывода HTML, чтобы поддерживались все теги
.b-content {
	// параграфы
	p {
		font-size: 16.2px;
		color: #292929;
		line-height: 21.6px;
		margin-bottom: 32px;
		font-weight: 300;
		margin-top: 0;
	}
}