.b-header {
	padding: 12px 0 26px 0;
	height: 116px;
	position: relative;


	.logo {
		padding: 24px 0 0 0;
		float: left;
		width: 37.5%;

		&__image{
			float: left;
			width: 180px;
			height: 35px;
		}

		&__text {
			float: left;
			margin: 9px 0px 1px 13px;
			font-size: 10.8px;
			line-height: 1.2;
			color: rgb(0, 149, 95);
			font-family: inherit;
			width: 168px;
		}
	}

	&__actions {
		float: left;
		width: 62.5%;
		display: block;
		padding-bottom: 12px;
		border-bottom: 1px solid #e7e7e7;

		.check {
			margin-right: 24px;
			float:left;

			&__link {
				font-size: 12.6px;
				font-weight: 300;
				color: #00955F;
				text-decoration: none;

				& .fa {
					margin-right: 4px;
				}
			}
		}

		.call {
			margin-right: 24px;
			float: left;
			&__link {
				font-size: 12.6px;
				font-weight: 300;
				color: #00955F;
				text-decoration: none;

				& .fa {
					margin-right: 4px;
				}
			}
		}
		.email {	
			float: right;

			&__link {
				font-size: 12.6px;
				font-weight: 300;
				color: #00955F;
				text-decoration: none;

				& .fa {
					margin-right: 4px;
				}
			}
		}
		.skype {
			float: right;
			margin-right: 24px;

			&__link {
				font-size: 12.6px;
				font-weight: 300;
				color: #00955F;
				text-decoration: none;

				& .fa {
					margin-right: 4px;
				}
			}
		}
	}

	.contacts {
		float: left;
		display: block;
		height: 72px;
		line-height: 72px;

		.phone {
			margin-right: 32px;
			vertical-align: middle;
			display: inline-block;

			&__status {
				margin: 0 0 8px 0;
				color: #868686;
				font-size: 12.6px;
				line-height: 1;
				font-weight: 300;
			}

			&__number {
				color: #000000;
				font-size: 16.2px;
				line-height: 1;
				font-weight: 700;
				margin: 0;
			}
		}
	}

	.login {
		float: right;
		display: block;
		height: 72px;
		line-height: 72px;
		margin-right: -18px;
	}
}
