.b-header {
	padding: 12px 0 26px 0;
	height: 116px;
	position: relative;


	.logo {
		padding: 24px 0 0 0;
		float: left;
		width: 37.5%;

		&__image{
			float: left;
			width: 180px;
			height: 35px;
		}

		&__text {
			float: left;
			margin: 9px 0px 1px 13px;
			font-size: 10.8px;
			line-height: 1.2;
			color: rgb(0, 149, 95);
			font-family: inherit;
			width: 168px;
			font-weight: 300;
		}
	}

	&__actions {
		float: left;
		width: 62.5%;
		display: block;
		padding-bottom: 12px;
		border-bottom: 1px solid #e7e7e7;

		.check {
			margin-right: 24px;
			float:left;

			&__link {
				font-size: 12.6px;
				font-weight: 300;
				color: #00955F;
				text-decoration: none;

				& .fa {
					margin-right: 4px;
				}
			}
		}

		.call {
			margin-right: 24px;
			float: left;
			&__link {
				font-size: 12.6px;
				font-weight: 300;
				color: #00955F;
				text-decoration: none;

				& .fa {
					margin-right: 4px;
				}
			}
		}
		.email {	
			float: right;

			&__link {
				font-size: 12.6px;
				font-weight: 300;
				color: #00955F;
				text-decoration: none;

				& .fa {
					margin-right: 4px;
				}
			}
		}
		.skype {
			float: right;
			margin-right: 24px;

			&__link {
				font-size: 12.6px;
				font-weight: 300;
				color: #00955F;
				text-decoration: none;

				& .fa {
					margin-right: 4px;
				}
			}
		}
	}

	.contacts {
		float: left;
		display: block;
		height: 72px;
		line-height: 72px;

		.phone {
			margin-right: 32px;
			vertical-align: middle;
			display: inline-block;

			&__status {
				margin: 0 0 8px 0;
				color: #868686;
				font-size: 12.6px;
				line-height: 1;
				font-weight: 300;
			}

			&__number {
				color: #000000;
				font-size: 16.2px;
				line-height: 1;
				font-weight: 700;
				margin: 0;
			}
		}
	}

	.login {
		float: right;
		display: block;
		height: 72px;
		line-height: 72px;

		.b-btn {
			margin: 0;
		}
	}

	.form {
		width: 450px;
		height: 487px;
		position: absolute;
		top: 15%;
		left: 50%;
		transform: translate(-50%);
		background-color: #fff;
		text-align: center;
		z-index: 1;
		color: #646464;

		&__close {
			cursor: pointer;
			width: 12px;
			height: 12px;
            background-image: url(../img/header/close.png);
            float: right;
            margin: 18px;
		}

		&_bg {
			display: none;
			position: fixed;
			z-index: 1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
          	overflow: auto;
			background-color: rgba(0, 149, 95, 0.8);
		}

	}
}
