// блок описания доп информации, например даты, времени, количество просмотров и тд
.b-info {
	margin-bottom: 16px;
	font-weight: 300;
	font-size: 12.6px;
	color: #777777;

	// Общий блок
	&__item {
		margin-left: 16px;
		text-decoration: none;

		&:first-of-type {
			margin-left: 0;
		}
	}

	// Блок с выравниванием по левому краю
	&_left {
		float: left;
	}

	// Блок с выравниванием по правому краю
	&_right {
		float: right;
	}

	// Блок с датой
	&__date {
		margin-right: 20px;
	}

	// Цветной
	&_colorful {
		color: #00955f;
	}

	// Наклонный
	&_italic {
		font-style: italic;
	}

	// Маленький шрифт
	&_small {
		font-size: 10.8px;
	}

	// clearfix
	&:after {
		content: " ";
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}
}