{% load comments i18n %}
<form action="{% comment_form_target %}" method="post">{% csrf_token %}
    <div>
        <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{{ form.target_object.get_absolute_url }}{% endif %}"/>
    </div>
    {% for field in form %}
        {% if field.is_hidden %}
            <div>{{ field }}</div>
        {% else %}
            {% if field.errors %}{{ field.errors }}{% endif %}
            <div class="b-form-group">
            <p
                    {% if field.errors %} class="error"{% endif %}
                    {% ifequal field.name "honeypot" %} style="display:none;">
                    {% endifequal %}
            {% ifequal field.name "name" %}>
                <input id="id_name" type="hidden" name="name" value="{{ user.username }}"/>
            {% endifequal %}
            {% ifequal field.name "email" %} style="display:none;">
                <input id="id_email" type="hidden" name="email" value="{{ user.email }}"/>
            {% endifequal %}
            {% ifequal field.name "url" %} style="display:none;">{% endifequal %}
            {% ifequal field.name "title" %} style="display:none;">{% endifequal %}
                {% ifequal field.name "comment" %}
                    <div class="b-form-group">
                    <textarea id="id_comment" maxlength="500" name="comment" required=""
                      class="b-form-control" rows="4" placeholder="Комментарий"></textarea>
{#                    {{ field.label_tag }} {{ field }}#}
                    </div>
                {% endifequal %}
            </p>
            </div>
        {% endif %}
    {% endfor %}
    <button type="submit" class="b-btn b-btn__fullwidth" name="post">
        <span class="b-btn__text">Отправить</span>
    </button>
</form>
