.b-block {
	margin-top: -70px;

	&__item {
		float: left;
		width: 50%;
		height: 420px;
		position: relative;

		// цветной фон
		&_colorful {
			background-color: #00955F;
		}

		// сервый фон
		&_grey {
			background-color: #f4f4f4;
		}

		&__wrapper {
			padding: 55px 90px;
			position: relative;
			text-align: center;
			height: 100%;
			overflow: hidden;

			&_absolute {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
			}
		}

		&__title {
			font-size: 32.4px;
			font-weight: 700;
			line-height: 36px;
			margin: 0 0 15px 0;
			color: #000000;

			&_white {
				color: #ffffff;
			}

			&_small {
				font-size: 16.2px;
				line-height: 20px;
				margin: 0;
			}

			&_left {
				text-align: left;
			}
		}

		// когда картинка фулл размер занимает
		&_imaged, &_video {
			position: relative;

			img {
				width: 100%;
				height: 100%;
			}

			&:after {
				content: '\A';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: rgba(0, 149, 95, 0.6);
				opacity: 0;
				transition: all 0.5s;
				box-shadow: inset 9px 16px 36px rgba(0, 0, 0, .3);
			}

			&:hover:after {
				opacity: 1;
			}
			.b-block__bottom {
				position: absolute;
				bottom: 55px;
				left: 90px;
				z-index: 10;
			}

			.b-block__title {
				font-size: 36px;
				font-weight: 700;
				color: #fff;
				margin: 0 0 24px 0;
				padding: 0;
			}

			.b-block__desc {
				color: #fff;
				font-size: 18px;
				font-weight: 700;

				span {
					margin-left: 8px;
					font-size: 14px;
					font-weight: 300;
				}
			}
		}
		&_video {

			.b-block__title {
				position: absolute;
				top: 55px;
				left: 90px;
				font-size: 36px;
				font-weight: 700;
				color: #fff;
				margin: 0;
				padding: 0;
				z-index: 10;
			}

			.b-block__desc {
				font-size: 14.4px;
				line-height: 19.8px;
				position: absolute;
				left: 90px;
				right: 90px;
				bottom: 55px;
				font-weight: 300;
				z-index: 10;
			}

			.b-block__play {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				width: 92px;
				height:65px;
				margin: auto;
				z-index: 10;
				background: url('../img/play.png') center center no-repeat;
			}
		}
	}

	&:after {
		content: " ";
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}
}