.b-block {
	margin-top: -70px;

	&__item {
		float: left;
		width: 50%;
		height: 420px;
		position: relative;

		// цветной фон
		&_colorful {
			background-color: #00955F;
		}

		// сервый фон
		&_grey {
			background-color: #f4f4f4;
		}

		&__wrapper {
			padding: 55px 90px;
			position: relative;
			text-align: center;
			height: 100%;
			overflow: hidden;

			&_absolute {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
			}
		}

		&__title {
			font-size: 32.4px;
			font-weight: 700;
			line-height: 36px;
			margin: 0 0 15px 0;
			color: #000000;

			&_white {
				color: #ffffff;
			}

			&_small {
				font-size: 16.2px;
				line-height: 20px;
				margin: 0;
			}

			&_left {
				text-align: left;
			}
		}
	}

	&:after {
		content: " ";
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}
}