.b-menu {
	height: 64px;
	width: 100%;
	min-width: 1280px;
	position: relative;

	box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.1);
	background-color: #f4f4f4;

	&-table {
		display: table;
		height: 64px;
		width: 100%;
		max-width: 100%;
		margin-bottom: 0;
		border: 0;
		border-spacing: 0;
	}

	&__submenu {
		display: none;
		padding: 40px 90px;
		background-color: #ffffff;
		position: absolute;
		margin-left: -90px;
		top: 64px;
		z-index: 1049;

		-webkit-box-shadow: 0px 10px 23px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 10px 23px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 10px 23px 0px rgba(0, 0, 0, 0.5);

		.submenu__content {

			.submenu__column {
				display: inline-block;
				vertical-align: top;
			}
			.submenu__column-offset {
				margin-left: 130px;
			}

			.submenu__group {
				margin-bottom: 24px;

				&-title {
					font-size: 16.2px;
					color: #292929;
					font-weight: 700;
					margin: 0 0 8px 0;
				}
				&__list {
					list-style: none;
					padding: 0;
					margin: 0;

					&__item {
						margin-bottom: 8px;

						&-link {
							font-size: 14.4px;
							font-weight: 300;
							color: #00955f;
							text-decoration: none;
							line-height: 18px;
						}
					}
				}
			}
		}

		&_small {
			padding: 40px;
			margin-left: -40px;
		}
	}

	&__item {
		position: relative;
		display: table-cell;
		vertical-align: middle;
		white-space: nowrap;
		height: 64px;
		padding: 0 22px;

		&-link {
			font-size: 14.4px;
			font-weight: 500;
			color: #868686;
			text-decoration: none;
			line-height: 64px;
			height: 64px;
			display: inline-block;
			position: relative;
			overflow: hidden;

			&:hover {
				color: #000;
				cursor: pointer;
			}

			&-active {
				color: #000;

				&::after {
					content: " ";
					position: absolute;
					bottom: 0;
					left: 0;
					border: 2px solid #00955f;
					width: 100%;
				}
			}
		}

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		&:hover > .b-menu__item-link {
			color: #000;
		}
		&:hover > .b-menu__submenu {
			display: block;
		}
	}

	// поиск в меню
	&__search {
		top: -64px;
		left: 0;
		width: 100%;
		height: 64px;
		transition: all;
		-webkit-transition-duration: .2s;
		transition-duration: .2s;
		opacity: 0;
		filter: alpha(opacity=0);
		z-index: 10;
		position: absolute;
		background-color: #f4f4f4;
		box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.1);
		pointer-events: none;

		// конт
		&__wrapper {
			padding: 10px 0;
			height: 64px;

			.b-form-control {
				background-color: transparent;
			}
		}
	}

	// показываем поиск поверх меню
	&.search-toggle .b-menu__search {
		top: 0;
		opacity: 1;
		filter: alpha(opacity=100);
		pointer-events: auto;
	}
}
