{% extends 'zavod/base.html' %}

{% block title %}
	Документация
{% endblock %}

{% block content %}
	<h1>Документация</h1>
	<a href="/">На главную</a>
	<a href="/dokumentatsija/razreshenie-na-primenenie">Разрешение на применение</a>
	<a href="/dokumentatsija/sertifikaty">Сертификаты</a>
	<a href="/dokumentatsija/tovarnye-znaki">Товарные знаки</a>
	<a href="/dokumentatsija/tekhnicheskaja-dokumentatsija">Техническая документация</a>
	<a href="/dokumentatsija/zachem-nuzhna-dokumentatsija">Зачем нужна документация</a>
{% endblock %}