{% extends 'zavod/base.html' %}

{% block title %}
	Контакты завода Триумф
{% endblock %}

{% block content %}
	<h1>Авторизация</h1>
	<a href="/">На главную</a><br>
  <hr>
  <form action="/login/" method="post">
      {% csrf_token %}
      <h3>Авторизация</h3>
      {{ form_auth }}
      <button type="submit" name="button">Auth</button>
  </form><br><hr>
  {% if user.is_authenticated %}
    Логин: {{ user.username }}<br>
    email: {{ user.email }}<br>
    Имя: {{ user.first_name }}<br>
    Фамилия: {{ user.last_name }}<br><br>

    <a href="/logout/">Exit</a>
  {% else %}
    <a href="{% url 'social:begin' "vk-oauth2" %}">VK</a><br>
    <a href="{% url 'social:begin' "facebook" %}">Facebook</a><br>
    <a href="{% url 'social:begin' "twitter" %}">Twitter</a><br>
  {% endif %}

{% endblock %}
