{% extends 'zavod/base.html' %}

{% block title %}
	"Завод Триумф" - завод теплообменного оборудования в Москве
{% endblock %}

{% block content %}
	<h1>Главная</h1>
	<a href="/catalog/">Каталог</a><br>
	<a href="/dokumentatsija/">Документация</a><br>
	<a href="/dostavka/">Доставка</a><br>
	<a href="/prajjsy/">Прайс-листы</a><br>
	<a href="/articles/">Статьи</a><br>
	<a href="/contacts/">Контакты</a><br>
	<hr>
	<a href="/photogallery/">Фотогалерея</a><br>
	<a href="/news/">Новости</a><br>
	<a href="/about/">О компании</a><br>
	<a href="/partnery/">Партнёры</a><br>
	<a href="/proizvodstvo-zavoda-triumf/">Производство</a><br>
{% endblock %}