{% extends 'zavod/base.html' %}

{% load threadedcomments_tags %}

{% block title %}{{ news.seo_title }}{% endblock %}
{% block description %}{{ news.seo_description }}{% endblock %}
{% block keywords %}{{ news.seo_keywords }}{% endblock %}


{% block content %}
	<h1>{{ news.name }}</h1>

    <h2>Comments for {{ news.name }}:</h2>

    {% get_comment_count for news as count%}

    <h3>Comments on This news ({{ count }}):</h3>
    {% get_comment_list for news as tree %}
    {% for comment in tree %}
    <div style="margin-left: {{ comment.depth }}em;" class="comment">
        <div style="margin-left:{{comment.depth}}em;">
            {{ comment }}
            Reply to this comment
            {% render_comment_form for news with comment.id %}
        </div>
    </div>
    {% endfor %}
    <p>Reply to Original:</p>
    {% render_comment_form for news %}

	<a href="/news/">К списку новостей</a>
{% endblock %}
