{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}

{% block content %}
    <div class="b-section b-section_short">
        <div class="b-layout">

            <div class="b-breadcrumbs">
                <a class="b-breadcrumbs__link" href="#">Главная</a> / <a class="b-breadcrumbs__link" href="{% url "about" %}">О компании</a>
            </div>

            <div class="grid__row">
                <div class="grid__column-7">
                    <h3 class="b-section-title">Партнеры компании</h3>
                </div>
                <div class="grid__column-7">
                    <ul class="b-tab">
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "about" %}">Триумф</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "nagrady" %}">Награды</a>
                        </li>
                        <li class="b-tab__item b-tab__item_active">
                            <a class="b-tab__item__link" href="#">Партнеры</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "otzyvy" %}">Отзывы</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "employee" %}">Сотрудники</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "vacancy" %}">Вакансии</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-12">
                    <p class="b-section-text">C 1995 года Завод Триумф изготавливает теплообменное оборудование. Бойлеры, паровые и емкостные подогреватели, грязевики и многое другое- заслужили признание не только среди независимых экспертов в области теплофизики и инженерии, но и среди тех, для кого это оборудование было изготовлено.</p>
                </div>
            </div>
            <div class="grid__row grid__row-btm">
                <div class="grid__column-2">
                    <div class="b-image b-image-square">
                        <div class="b-image__container">
                            <img src="{% static 'img/about_partners/example.png' %}" alt="Пример награды">
                        </div>
                        <div class="b-image__caption">Диплом за лучшую продукцию на всем белом свете</div>
                    </div>
                </div>
                <div class="grid__column-2 grid__offset">
                    <div class="b-image b-image-square">
                        <div class="b-image__container">
                            <img src="{% static 'img/about_partners/example.png' %}" alt="Пример награды">
                        </div>
                        <div class="b-image__caption">Диплом за лучшую продукцию на всем белом свете</div>
                    </div>
                </div>
                <div class="grid__column-2 grid__offset">
                   <div class="b-image b-image-square">
                        <div class="b-image__container">
                            <img src="{% static 'img/about_partners/example.png' %}" alt="Пример награды">
                        </div>
                        <div class="b-image__caption">Диплом за лучшую продукцию на всем белом свете</div>
                    </div>
                </div>
                <div class="grid__column-2 grid__offset">
                    <div class="b-image b-image-square">
                        <div class="b-image__container">
                            <img src="{% static 'img/about_partners/example.png' %}" alt="Пример награды">
                        </div>
                        <div class="b-image__caption">Диплом за лучшую продукцию на всем белом свете</div>
                    </div>
                </div>
                <div class="grid__column-2 grid__offset">
                    <div class="b-image b-image-square">
                        <div class="b-image__container">
                            <img src="{% static 'img/about_partners/example.png' %}" alt="Пример награды">
                        </div>
                        <div class="b-image__caption">Диплом за лучшую продукцию на всем белом свете</div>
                    </div>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-2">
                    <div class="b-image b-image-square">
                        <div class="b-image__container">
                            <img src="{% static 'img/about_partners/example.png' %}" alt="Пример награды">
                        </div>
                        <div class="b-image__caption">Диплом за лучшую продукцию на всем белом свете</div>
                    </div>
                </div>
                <div class="grid__column-2 grid__offset">
                    <div class="b-image b-image-square">
                        <div class="b-image__container">
                            <img src="{% static 'img/about_partners/example.png' %}" alt="Пример награды">
                        </div>
                        <div class="b-image__caption">Диплом за лучшую продукцию на всем белом свете</div>
                    </div>
                </div>
                <div class="grid__column-2 grid__offset">
                   <div class="b-image b-image-square">
                        <div class="b-image__container">
                            <img src="{% static 'img/about_partners/example.png' %}" alt="Пример награды">
                        </div>
                        <div class="b-image__caption">Диплом за лучшую продукцию на всем белом свете</div>
                    </div>
                </div>
                <div class="grid__column-2 grid__offset">
                    <div class="b-image b-image-square">
                        <div class="b-image__container">
                            <img src="{% static 'img/about_partners/example.png' %}" alt="Пример награды">
                        </div>
                        <div class="b-image__caption">Диплом за лучшую продукцию на всем белом свете</div>
                    </div>
                </div>
                <div class="grid__column-2 grid__offset">
                    <div class="b-image b-image-square">
                        <div class="b-image__container">
                            <img src="{% static 'img/about_partners/example.png' %}" alt="Пример награды">
                        </div>
                        <div class="b-image__caption">Диплом за лучшую продукцию на всем белом свете</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-section">
        <div class="b-layout">
            <div class="grid__row">
                <div class="grid__column-4">
                    <h3 class="subheading">Новинка производства</h3>
                    <a class="b-image" href="{% url 'get_product' product_for_bottom.slug %}"><div class="b-box">
                        <div class="b-box__wrapper">
                            <div class="b-box__image-left">
                                {% if product_for_bottom.images.first %}
                                    <img src="{{ product_for_bottom.images.first.image.url }}" alt="Пример Продукта">
                                {%  else %}
                                    <img src="{% static 'img/products/product_sale.png' %}" alt="Пример Продукта">
                                {% endif %}
                            </div>
                            <p class="b-box__author">
                                {{ product_for_bottom.category.title }}
                            </p>
                            <p class="b-box__text">
                                {{ product_for_bottom.title }}
                            </p>
                            <div class="b-box__sale">Хит</div></div>
                        </div>
                    </a>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h3 class="subheading">Последняя новость</h3>

                    <div class="b-box">
                        <div class="b-box__wrapper">
                            <p class="b-box__author">
                                {{ news_for_bottom.date_created }}
                            </p>
                            <p class="b-box__text">
                                {{ news_for_bottom.title }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h3 class="subheading">Видео как закалялась сталь</h3>
                    {% if media_for_bottom %}
                        <a class="b-image" href="{% url 'photogallery_detail' media_for_bottom.slug %}">
                    {% endif %}
                    <div class="b-box b-box_noshadow">
                        <div class="b-box__image-halfsize">
                            {% if media_for_bottom %}
                                <img src="{{ media_for_bottom.cover_image.gallery_image.url }}" alt="Пример баннера">
                            {% else %}
                                <img src="{% static 'img/news/news2.png' %}" alt="Пример баннера">
                            {% endif %}
                        </div>
                    </div>
                    {% if media_for_bottom %}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

