{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}

{% block content %}
    <div class="b-section b-section_short">
        <div class="b-layout">

            <div class="b-breadcrumbs">
                <a class="b-breadcrumbs__link" href="/">Главная</a> / <a class="b-breadcrumbs__link" href="{% url "about" %}">О компании</a>
            </div>

            <div class="grid__row">
                <div class="grid__column-7">
                    <h3 class="b-section-title">Сотрудники компании</h3>
                    <a href="../" class="b-section-back">Назад к списку сотрудников</a>
                </div>
                <div class="grid__column-7">
                    <ul class="b-tab">
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "about" %}">Триумф</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "nagrady" %}">Награды</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "partnery" %}">Партнеры</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "otzyvy" %}">Отзывы</a>
                        </li>
                        <li class="b-tab__item b-tab__item_active">
                            <a class="b-tab__item__link" href="#">Сотрудники</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "vacancy" %}">Вакансии</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-9">
                    <p class="b-section-subtitle">начальник отдела продаж</p>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-9">
                    <p class="b-section-text">За плечами трудности, которые сплотили и воспитали команду профессионалов, которым не страшны никакие не выполнимые задачи.</p>
                    <p class="b-section-text">Мы горды тем, что именно у нас работают все те люди, которые нзывают себя коллективом Завода Триумф. И руководство предприятия прилагает все усилия для того, чтобы каждый сотрудник раскрыл свои возможности, самореализовался и самое главное получал удовольствие от того дела, которыс он занимается на предприятии. Компания привлекает для производства своей продукции только лучших специалистов, уделяет значительное внимание для их развития, их мотивации, предоставляет реализовать возможность карьерного роста, а так же и самореализации.</p>
                    <p class="b-section-text">Завод гордится своими трудовыми ресурсами, которые обеспечивают устойчивость компании для сохранения своих позиций на рынке теплообменного оборудования, тем самым, приводя к развитию экономики страны в целом.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="b-section">
        <div class="b-layout">
            <div class="grid__row">
                <div class="grid__column-4">
                    <h3 class="subheading">Новинка производства</h3>
                    <div class="b-box">
                        <div class="b-box__wrapper">
                            <div class="b-box__image-left">
                                <img src="{% static 'img/products/product_sale.png' %}" alt="Пример Продукта">
                            </div>
                            <p class="b-box__author">
                                ПЛАСТИНЧАТЫЕ ТЕПЛООБМЕННИКИ
                            </p>
                            <p class="b-box__text">
                                Разборные пластинчатые теплообменник FUNKE
                            </p>
                            <div class="b-box__sale">Хит</div>
                        </div>
                    </div>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h3 class="subheading">Последняя новость</h3>

                    <div class="b-box">
                        <div class="b-box__wrapper">
                            <p class="b-box__author">
                                СЕГОДНЯ 10:45
                            </p>
                            <p class="b-box__text">
                                Служба Яндекс.Рефераты предназнаена для студентов и школьников, дизайнеров
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h3 class="subheading">Видео как закалялась сталь</h3>
                    <div class="b-box b-box_noshadow">
                        <div class="b-box__image-halfsize">
                            <img src="{% static 'img/news/news2.png' %}" alt="Пример баннера">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
