{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}

{% block content %}
    <div class="b-section b-section_short">
        <div class="b-layout">

            <div class="b-breadcrumbs">
                <a class="b-breadcrumbs__link" href="/">Главная</a> /
                <a class="b-breadcrumbs__link" href="{% url "about" %}">О компании</a> /
                {{ title }}
            </div>

            <div class="grid__row">
                <div class="grid__column-7">
                    <h3 class="b-section-title">Отзывы о компании</h3>
                </div>
                <div class="grid__column-7">
                    <ul class="b-tab">
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "about" %}">О заводе</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "nagrady" %}">Награды</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "partnery" %}">Партнеры</a>
                        </li>
                        <li class="b-tab__item b-tab__item_active">
                            <a class="b-tab__item__link" href="#">Отзывы</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "employee" %}">Сотрудники</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "vacancy" %}">Вакансии</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-12">
                    <p class="b-section-text">Слова благодарности и признательности от наших партнеров, заказчиков и
                        коллег. Те, кто работал с нами однажды, всегда возвращаются вновь. Мы гарантируем плодотворное и
                        взаимовыгодное сотрудничество так же уверенно, как и надежность нашего теплообменного
                        оборудования.</p>
                </div>
            </div>
            <div class="grid__row grid__row-btm">
                <div class="grid__column-2">
                    <div class="b-image">
                        <div class="b-image__container">
                            <a class="js-gallery" href="{% static 'img/awards/example.png' %}">
                                <img src="{% static 'img/awards/example.png' %}" alt="Пример награды">
                            </a>
                        </div>
                        <div class="b-image__caption">Диплом за лучшую продукцию на всем белом свете</div>
                    </div>
                </div>
                <div class="grid__column-2 grid__offset">
                    <div class="b-image">
                        <div class="b-image__container">
                            <a class="js-gallery" href="{% static 'img/awards/example.png' %}">
                                <img src="{% static 'img/awards/example.png' %}" alt="Пример награды">
                            </a>
                        </div>
                        <div class="b-image__caption">Диплом за лучшую продукцию на всем белом свете</div>
                    </div>
                </div>
                <div class="grid__column-2 grid__offset ">
                    <div class="b-image">
                        <div class="b-image__container">
                            <a class="js-gallery" href="{% static 'img/awards/example.png' %}">
                                <img src="{% static 'img/awards/example.png' %}" alt="Пример награды">
                            </a>
                        </div>
                        <div class="b-image__caption">Диплом за лучшую продукцию на всем белом свете</div>
                    </div>
                </div>
                <div class="grid__column-2 grid__offset">
                    <div class="b-image">
                        <div class="b-image__container">
                            <a class="js-gallery" href="{% static 'img/awards/example.png' %}">
                                <img src="{% static 'img/awards/example.png' %}" alt="Пример награды">
                            </a>
                        </div>
                        <div class="b-image__caption">Диплом за лучшую продукцию на всем белом свете</div>
                    </div>
                </div>
                <div class="grid__column-2 grid__offset">
                    <div class="b-image">
                        <div class="b-image__container">
                            <a class="js-gallery" href="{% static 'img/awards/example.png' %}">
                                <img src="{% static 'img/awards/example.png' %}" alt="Пример награды">
                            </a>
                        </div>
                        <div class="b-image__caption">Диплом за лучшую продукцию на всем белом свете</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'blocks/bottom.html' %}
{% endblock %}

{% block extra-js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.js-gallery').featherlightGallery({
                previousIcon: '«',
                nextIcon: '»'
            });
        });
    </script>
{% endblock %}
