{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}

{% block content %}
    <div class="b-section b-section_short">
        <div class="b-layout">
            <div class="b-breadcrumbs">
                <a class="b-breadcrumbs__link" href="{% url "main" %}">Главная</a> /
                {{ title }}
            </div>
            <div class="grid__row">
                <div class="grid__column-12">
                    <h1 class="b-section-title">Часто задаваемые вопросы</h1>
                </div>
                <div class="grid__column-2">
                    <a class="b-link pull-right" data-toggle="modal" data-target="#faq" href="#">Задайте свой вопрос</a>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-14">
                    {% for question in questions %}
                        {% if question.type == 0 %}
                            <div class="b-box b-box_faq js-faq" style="z-index: {{ forloop.revcounter }}">
                                <div class="b-faq">
                                    <div class="grid__row">
                                        <div class="grid__column-1">
                                            <div class="b-faq__label">
                                                Вопрос
                                            </div>
                                        </div>
                                        <div class="grid__column-10">
                                            <div class="b-faq__question">
                                                {{ question.text }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-faq__delimiter">
                                        <div class="grid__row">
                                            <div class="grid__column-1">
                                                <div class="b-faq__label">
                                                    Ответ
                                                </div>
                                            </div>
                                            <div class="grid__column-10">
                                                <div class="b-faq__answer">
                                                    {{ question.answer }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <script type="text/javascript" src="{% static 'js/faq/faq.js' %}"></script>
        </div>

    </div>
    {% include 'blocks/bottom.html' %}
{% endblock %}

{% block extra-html %}
    <div class="modal fade" id="faq" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="modal__close close" data-dismiss="modal" aria-label="Close"></a>
                <div class="modal-body">
                    <div class="b-block__item__wrapper">
                        <div class="b-block__item__title b-block__item__title_small b-block__item__title_left">
                            Задать вопрос
                        </div>
                        <div class="b-section__space"></div>
                        <form class="b-form" method="post" action="{{ request.path }}">
                            {% csrf_token %}
                            <div class="b-form-group">
                                <textarea id="inputText" maxlength="500" name="text" required=""
                                          class="b-form-control" rows="4" placeholder="Ваш вопрос"></textarea>
                            </div>
                            <input id="inputType" name="type" placeholder="Тип вопроса" type="hidden" value="0" required="">
                            <button type="submit" class="b-btn b-btn__fullwidth">
                                <span class="b-btn__text">Отправить</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
