{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}

{% block content %}
    <div class="b-section b-section_short">
        <div class="b-layout">

            <div class="b-breadcrumbs">
                <a class="b-breadcrumbs__link" href="/">Главная</a> /
                <a class="b-breadcrumbs__link" href="{% url "about" %}">О компании</a> /
                {{ title }}
            </div>

            <div class="grid__row">
                <div class="grid__column-7">
                    <h3 class="b-section-title">Сотрудники компании</h3>
                </div>
                <div class="grid__column-7">
                    <ul class="b-tab">
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "about" %}">Триумф</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "nagrady" %}">Награды</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "partnery" %}">Партнеры</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "otzyvy" %}">Отзывы</a>
                        </li>
                        <li class="b-tab__item b-tab__item_active">
                            <a class="b-tab__item__link" href="#">Сотрудники</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "vacancy" %}">Вакансии</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-12">
                    <p class="b-section-text">«Завод Триумф» – предприятие, производящее оборудование для предприятий
                        различной сферы деятельности, а также жилищно-коммунального хозяйства. На Заводе Триумф трудятся
                        одаренные и талантливые люди. </p>
                </div>
            </div>

            {% for set_by_five_employees in employees %}
                <div class="grid__row grid__row-btm">
                {% for employee in set_by_five_employees %}
                    {% if employee.is_first %}
                        <div class="grid__column-2 ">
                    {% else %}
                        <div class="grid__column-2 grid__offset">
                    {% endif %}
                <a class="b-image b-image-round" href="{% url "employee_info" employee.name %}">
                    <div class="b-image__container">
                        {% if employee.image %}
                            <img src="{{ employee.image.image.url }}" alt="Пример награды">
                        {% else %}
                            <img src="{% static 'img/employee/example.png' %}" alt="Пример награды">
                        {% endif %}
                    </div>
                    <div class="b-image__title">{{ employee.first_name }} {{ employee.last_name }}</div>
                    <div class="b-image__caption">{{ employee.position }}</div>
                </a>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="grid__row">
                <div class="grid__column-9">
                    <p class="b-section-text">За плечами трудности, которые сплотили и воспитали команду профессионалов,
                        которым не страшны никакие не выполнимые задачи.</p>
                    <p class="b-section-text">Мы горды тем, что именно у нас работают все те люди, которые нзывают себя
                        коллективом Завода Триумф. И руководство предприятия прилагает все усилия для того, чтобы каждый
                        сотрудник раскрыл свои возможности, самореализовался и самое главное получал удовольствие от
                        того
                        дела, которыс он занимается на предприятии. Компания привлекает для производства своей продукции
                        только лучших специалистов, уделяет значительное внимание для их развития, их мотивации,
                        предоставляет реализовать возможность карьерного роста, а так же и самореализации.</p>
                    <p class="b-section-text">Завод гордится своими трудовыми ресурсами, которые обеспечивают
                        устойчивость
                        компании для сохранения своих позиций на рынке теплообменного оборудования, тем самым, приводя к
                        развитию экономики страны в целом.</p>
                </div>
                <div class="grid__column-4 grid__offset">
                    {# @TODO fix this inline styles #}
                    <h4 class="b-section-subtitle" style="margin-top: 230px;">Благодаря нашей дружной, сплоченной,
                        единой
                        команде, Завод смог выйти на рынок не только России, но и стран Содружества.</h4>
                </div>
            </div>
            </div>
        </div>
    </div>

    {% include 'blocks/bottom.html' %}
{% endblock %}
