{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}
{% load threadedcomments_tags %}

{% block content %}
    <div class="b-section b-section_short">
        <div class="b-layout">
            <div class="b-breadcrumbs">
                <a class="b-breadcrumbs__link" href="{% url "main" %}">Главная</a> /
                <a class="b-breadcrumbs__link" href="{% url "articles" %}>">Статьи</a>
            </div>
            <div class="grid__row">
                <div class="grid__column-9">
                    <h3 class="b-section-title">{{ article.title }}</h3>
                </div>
            </div>
            <div class="grid__row">
                <a href="../" class="b-section-back">Назад к статьям</a>
            </div>
        </div>
        <div class="b-layout">
            <div class="grid__row">
                <div class="grid__column-9">

                    <hr class="delimiter"/>
                    {# article #}
                    <div class="b-info">
                        <div class="b-info__item b-info_left b-info__date">
                            {{ article.date_created|date:"d F Y"|lower }}
                        </div>
                        <div class="b-info__item b-info_left">
                            <i class="fa fa-user" aria-hidden="true"></i> {{ article.author }}
                        </div>
                        {% get_comment_count for article as comment_count %}
                        <div class="b-info__item b-info_right">
                            <i class="fa fa-comments" aria-hidden="true"></i> {{ comment_count }}
                        </div>
                        <div class="b-info__item b-info_right">
                            <i class="fa fa-eye" aria-hidden="true"></i> {{ article.views }}
                        </div>
                    </div>
                    <div class="b-section__image">
                        {% if article.images.first %}
                            <img src="{{ article.images.first.image.url }}" alt="Картинка">
                        {% else %}
                            <img src="{% static 'img/player.png' %}" alt="Картинка">
                        {% endif %}
                    </div>
                    <div class="b-section__space"></div>
                    {# Содержимое статьи #}
                    <div class="b-content">
                        {{ article.text | safe }}
                    </div>
                    <div class="b-info">
                        {% for tag in article.tags.all %}
                        <div class="b-info__item b-info_left b-info_colorful b-info_italic b-info_small">
                            <i class="fa fa-tag" aria-hidden="true"></i> {{ tag.title }}
                        </div>
                        {% endfor %}
                    </div>
                    {# end article #}
                    <hr class="delimiter"/>

                    <div class="b-comment">
                        {% if user.is_authenticated %}
                            <a href="#" class="b-comment-comment">
                                Оставить свой комментарий
                            </a>
                        {% endif %}
                    </div>
                    {% get_comment_list for article as tree %}
                    {% for comment in tree %}

                        <div class="b-comment {% if comment.depth > 1 %} b-comment-offset {% endif %}">
                            <div class="b-comment__content">
                                <div class="b-comment__content__text">
                                    {{ comment.comment }}
                                </div>
                                {% if user.is_staff %}
                                    {#                                        {% render_comment_form for news with comment.id %}#}
                                {% endif %}
                            </div>
                            <div class="b-comment__info">
                                <div class="b-comment__avatar">
                                    <img src="{% static 'img/avatars/noavatar.png' %}" alt="">
                                </div>
                                <div class="b-comment__extra">
                                    <div class="b-comment__extra-author">
                                        Денис такой-то
                                    </div>
                                    <div class="b-comment__extra-date">
                                        24 января 2016 г.
                                        <a href="#" class="b-comment-send">ответить</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                    {#                            {% render_comment_form for news %}#}
                </div>
                <div class="grid__column-4 grid__offset">
                            <div class="b-list__item b-list__item_head">Также читайте</div>
                            {% if related_article %}
                                <div class="grid__row grid__row-btm">
                                <div class="grid__column-4">
                                <a class="b-image b-image-round" href="{% url "articles_detail" related_article.slug %}">
                                    <div class="b-box b-box-green">
                                        <div class="b-box__image-fullsize">
                                            {% if related_article.images.first %}
                                                <img src="{{ related_article.images.first.image.url }}" alt="Пример награды">
                                            {% else %}
                                                <img src="{% static 'img/news/example.png' %}" alt="Пример баннера">
                                            {% endif %}
                                        </div>
                                        <div class="b-box__wrapper">
                                            <div class="b-box__author">{{ related_article.author }}</div>
                                            <h4 class="b-box__header">{{ related_article.title }}</h4>
                                            <p class="b-box__text">
                                                {{ related_article.text }}
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            </div>
                            {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="b-section">
        <div class="b-layout">
            <div class="grid__row">
                <div class="grid__column-4">
                    <h3 class="subheading">Новинка производства</h3>
                    <a class="b-image" href="{% url 'catalog_category_inside' product_for_bottom.category.slug product_for_bottom.slug %}"><div class="b-box">
                        <div class="b-box__wrapper">
                            <div class="b-box__image-left">
                                {% if product_for_bottom.images.first %}
                                    <img src="{{ product_for_bottom.images.first.image.url }}" alt="Пример Продукта">
                                {%  else %}
                                    <img src="{% static 'img/products/product_sale.png' %}" alt="Пример Продукта">
                                {% endif %}
                            </div>
                            <p class="b-box__author">
                                {{ product_for_bottom.category.name }}
                            </p>
                            <p class="b-box__text">
                                {{ product_for_bottom.name }}
                            </p>
                            <div class="b-box__sale">Хит</div></div>
                        </div>
                    </a>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h3 class="subheading">Последняя новость</h3>

                    <div class="b-box">
                        <a class="b-image" href="{% url 'news_detail' news_for_bottom.slug %}">
                            <div class="b-box__wrapper">
                                <p class="b-box__author">
                                    {{ news_for_bottom.date_created }}
                                </p>
                                <p class="b-box__text">
                                    {{ news_for_bottom.title }}
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h3 class="subheading">Видео как закалялась сталь</h3>
                    {% if media_for_bottom %}
                        <a class="b-image" href="{% url 'photogallery_detail' media_for_bottom.slug %}">
                    {% endif %}
                    <div class="b-box b-box_noshadow">
                        <div class="b-box__image-halfsize">
                            {% if media_for_bottom %}
                                <img src="{{ media_for_bottom.cover_image.gallery_image.url }}" alt="Пример баннера">
                            {% else %}
                                <img src="{% static 'img/news/news2.png' %}" alt="Пример баннера">
                            {% endif %}
                        </div>
                    </div>
                    {% if media_for_bottom %}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
