{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}

{% block content %}
    <div class="b-section">
        <div class="b-layout">
            <div class="b-breadcrumbs">
                <a class="b-breadcrumbs__link" href="#">Главная</a> /
                <a class="b-breadcrumbs__link" href="#">Статья</a>
            </div>
            <div class="grid__row">
                <div class="grid__column-9">
                    <h3 class="b-section-title">{{ article.name }}</h3>
                </div>
            </div>
            <div class="grid__row">
                <h3 class="b-section-text-description"><a href="../"><-</a>Назад к статьям</h3>
            </div>
        </div>
    </div>
    <div class="b-section">
        <div class="b-layout">
            <div class="grid__row">
                <div class="grid__column-4">
                    <h3 class="subheading">Новинка производства</h3>
                    <div class="b-box">
                        <div class="b-box__wrapper">
                            <div class="b-box__image-left">
                                <img src="{% static 'img/products/product_sale.png' %}" alt="Пример Продукта">
                            </div>
                            <p class="b-box__author">
                                ПЛАСТИНЧАТЫЕ ТЕПЛООБМЕННИКИ
                            </p>
                            <p class="b-box__text">
                                Разборные пластинчатые теплообменник FUNKE
                            </p>
                            <div class="b-box__sale">Хит</div>
                        </div>
                    </div>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h3 class="subheading">Последняя новость</h3>

                    <div class="b-box">
                        <div class="b-box__wrapper">
                            <p class="b-box__author">
                                СЕГОДНЯ 10:45
                            </p>
                            <p class="b-box__text">
                                Служба Яндекс.Рефераты предназнаена для студентов и школьников, дизайнеров
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h3 class="subheading">Видео как закалялась сталь</h3>
                    <div class="b-box b-box_noshadow">
                        <div class="b-box__image-halfsize">
                            <img src="{% static 'img/news/news2.png' %}" alt="Пример баннера">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
