{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}
{% load extras %}

{% block content %}
    <div class="b-section b-section_short">
        <div class="b-layout">
            <div class="b-breadcrumbs">
                <a class="b-breadcrumbs__link" href="{% url "main" %}">Главная</a> /
                <a class="b-breadcrumbs__link" href="{% url "articles" %}>">Статьи</a>
            </div>
            {% for ind, article in ind_articles %}
                {% if ind == 0 or ind == 2 or ind|add:1|mod:3 == 0 %}
                    <div class="grid__row">
                    <div class="grid__column-4">
                {% else %}
                    <div class="grid__column-4 grid__offset">
                {% endif %}
                    <a class="b-image b-image-round" href="{% url "articles_detail" article.slug %}">
                        <div class="b-box {% if ind == 0 %} b-box-red {% endif %} {% if ind == 1 %} b-box-green {% endif %} {% if ind == 2 %} b-box-black {% endif %} {% if ind == 3 %} b-box-red {% endif %} {% if ind == 4 %} b-box-green {% endif %} {% if ind == 5 %} b-box-green {% endif %} {% if ind == 6 %} b-box-black {% endif %} {% if ind == 7 %} b-box-red {% endif %}">
                            <div class="b-box__image-fullsize">
                                {% if article.images.first %}
                                    <img src="{{ article.images.first.image.url }}" alt="Пример награды">
                                {% else %}
                                    <img src="{% static 'img/news/example.png' %}" alt="Пример баннера">
                                {% endif %}
                            </div>
                            <div class="b-box__wrapper">
                                <div class="b-box__author">{{ article.author }}</div>
                                <h4 class="b-box__header">{{ article.title }}</h4>
                                <p class="b-box__text">
                                    {{ article.text }}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                {% if ind|add:1|mod:3 == 2 or ind == 1 %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="b-section">
        <div class="b-layout">
            <div class="grid__row">
                <div class="grid__column-4">
                    <h3 class="subheading">Новинка производства</h3>
                    <a class="b-image" href="{% url 'get_product' product_for_bottom.slug %}"><div class="b-box">
                        <div class="b-box__wrapper">
                            <div class="b-box__image-left">
                                {% if product_for_bottom.images.first %}
                                    <img src="{{ product_for_bottom.images.first.image.url }}" alt="Пример Продукта">
                                {%  else %}
                                    <img src="{% static 'img/products/product_sale.png' %}" alt="Пример Продукта">
                                {% endif %}
                            </div>
                            <p class="b-box__author">
                                {{ product_for_bottom.category.title }}
                            </p>
                            <p class="b-box__text">
                                {{ product_for_bottom.title }}
                            </p>
                            <div class="b-box__sale">Хит</div></div>
                        </div>
                    </a>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h3 class="subheading">Последняя новость</h3>

                    <div class="b-box">
                        <div class="b-box__wrapper">
                            <p class="b-box__author">
                                {{ news_for_bottom.date_created }}
                            </p>
                            <p class="b-box__text">
                                {{ news_for_bottom.title }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h3 class="subheading">Видео как закалялась сталь</h3>
                    {% if media_for_bottom %}
                        <a class="b-image" href="{% url 'photogallery_detail' media_for_bottom.slug %}">
                    {% endif %}
                    <div class="b-box b-box_noshadow">
                        <div class="b-box__image-halfsize">
                            {% if media_for_bottom %}
                                <img src="{{ media_for_bottom.cover_image.gallery_image.url }}" alt="Пример баннера">
                            {% else %}
                                <img src="{% static 'img/news/news2.png' %}" alt="Пример баннера">
                            {% endif %}
                        </div>
                    </div>
                    {% if media_for_bottom %}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
