{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}
{% load threadedcomments_tags %}

{% block content %}
    <div class="b-section b-section_short">
        <div class="b-layout">
            <div class="b-breadcrumbs">
                <a class="b-breadcrumbs__link" href="{% url "main" %}">Главная</a> /
                <a class="b-breadcrumbs__link" href="{% url "articles" %}">Статьи</a> /
                {{ title }}
            </div>
            <div class="grid__row">
                <div class="grid__column-9">
                    <h3 class="b-section-title">{{ article.title }}</h3>
                </div>
            </div>
            <div class="grid__row">
                <a href="../" class="b-section-back">Назад к статьям</a>
            </div>
        </div>
        <div class="b-layout">
            <div class="grid__row">
                <div class="grid__column-9">

                    <hr class="delimiter"/>
                    {# article #}
                    <div class="b-info">
                        <div class="b-info__item b-info_left b-info__date">
                            {{ article.date_created|date:"d F Y"|lower }}
                        </div>
                        {% comment %}<div class="b-info__item b-info_left">
                            <i class="fa fa-user" aria-hidden="true"></i> {{ article.author }}
                        </div>{% endcomment %}
                        {% get_comment_count for article as comment_count %}
                        <div class="b-info__item b-info_right">
                            <i class="fa fa-comments" aria-hidden="true"></i> {{ comment_count }}
                        </div>
                        <div class="b-info__item b-info_right">
                            <i class="fa fa-eye" aria-hidden="true"></i> {{ article.views }}
                        </div>
                    </div>
                    {% comment %}<div class="b-section__image">
                        {% if article.images.first %}
                            <img src="{{ article.images.first.image.url }}" alt="Картинка">
                        {% else %}
                            <img src="{% static 'img/player.png' %}" alt="Картинка">
                        {% endif %}
                    </div>{% endcomment %}
                    <div class="b-section__space"></div>
                    {# Содержимое статьи #}
                    <div class="b-content">
                        {{ article.text | safe }}
                    </div>
                    <div class="b-info">
                        {% for tag in article.tags.all %}
                            <a href="{% url "articles_tag" tag.title %}"
                               class="b-info__item b-info_left b-info_colorful b-info_italic">
                                <i class="fa fa-tag" aria-hidden="true"></i>{{ tag.title }}
                            </a>
                        {% endfor %}
                        <div class="social-likes pull-right">
                            <div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
                            <div class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</div>
                            <div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
                            <div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
                        </div>
                    </div>
                    {# end article #}
                    <hr class="delimiter"/>

                    <div class="b-comment">
                        {% if user.is_authenticated %}
                            <a href="#" class="b-comment-comment">
                                Оставить свой комментарий
                            </a>
                        {% endif %}
                    </div>
                    {% get_comment_list for article as tree %}
                    {% for comment in tree %}

                        <div class="b-comment {% if comment.depth > 1 %} b-comment-offset {% endif %}">
                            <div class="b-comment__content">
                                <div class="b-comment__content__text">
                                    {{ comment.comment }}
                                </div>
                                {% if user.is_staff %}
                                    {#                                        {% render_comment_form for news with comment.id %}#}
                                {% endif %}
                            </div>
                            <div class="b-comment__info">
                                <div class="b-comment__avatar">
                                    <img src="{% static 'img/avatars/noavatar.png' %}" alt="">
                                </div>
                                <div class="b-comment__extra">
                                    <div class="b-comment__extra-author">
                                        {{ comment.user_name }}
                                    </div>
                                    <div class="b-comment__extra-date">
                                        {{ comment.submit_date | date }}
                                        <a href="#" class="b-comment-send">ответить</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                    {#                            {% render_comment_form for news %}#}
                </div>
                <div class="grid__column-4 grid__offset">
                    {% if related_article %}
                        <div class="b-list__item b-list__item_head">Также читайте</div>
                        <div class="grid__row grid__row-btm">
                            <div class="grid__column-4">
                                <a class="b-link_pseudo"
                                   href="{% url "articles_detail" related_article.slug %}">
                                    <div class="b-box b-box-green b-box_342">
                                        <div class="b-box__image-fullsize">
                                            {% if related_article.images.first %}
                                                <img src="{{ related_article.images.first.image.url }}"
                                                     alt="Пример награды">
                                            {% else %}
                                                <img src="{% static 'img/news/example.png' %}" alt="Пример баннера">
                                            {% endif %}
                                        </div>
                                        <div class="b-box__wrapper">
                                            <h4 class="b-box__header">{{ related_article.title }}</h4>
                                            <p class="b-box__text">
                                                {{ related_article.text|striptags|truncatechars:120 }}
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="b-box b-box_nohover b-box-grey">
                        <div class="b-block__item__wrapper">
                            <h3 class="b-block__item__title b-block__item__title_small b-block__item__title_left">
                                Получите новые статьи на почту
                            </h3>
                            <div class="b-section__space"></div>
                            <form class="b-form" method="post" action="{{ request.path }}">
                                {% csrf_token %}
                                <div class="b-form-group">
                                    <input id="id_email" maxlength="50" name="email" type="email"
                                           class="b-form-control" placeholder="Ваш E-mail" required="">
                                </div>
                                <button type="submit" class="b-btn b-btn__fullwidth">
                                    <span class="b-btn__text">Подписаться</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'blocks/bottom.html' %}
{% endblock %}

{% block extra-js %}
    <script text="text/javascript">
        $(document).ready(function () {
            var $content = $('.b-content');
            // init
            $('.slider', $content).each(function (idx, el) {

                $(el).slick({
                    arrows: false,
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    draggable: false,
                    swipe: false,
                    swipeToSlide: false,
                    autoplay: true,
                    dots: true,
                    dotsClass: 'slider-dots'
                });
            });
        });
    </script>
{% endblock %}
