{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}

{% block content %}
    <div class="b-section b-section_short">
        <div class="b-layout">
            <div class="b-breadcrumbs">
                <a class="b-breadcrumbs__link" href="/">Главная</a> /
                {{ title }}
            </div>

            <div class="grid__row">
                <div class="grid__column-7">
                    <h3 class="b-section-title">Каталог</h3>
                </div>
                <div class="grid__column-7">
                    <ul class="b-tab">
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "catalog" %}">Расширено</a>
                        </li>
                        <li class="b-tab__item b-tab__item_active">
                            <a class="b-tab__item__link" href="{% url "catalog" %}?expand=false">Списком</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-12">
                    <p class="b-section-subtitle b-section-subtitle_inline">«Завод Триумф» - один из ведущих
                        производителей теплообменного оборудования в России, неоднократно получал Национальный знак
                        качества, а наша продукция – титул «Лучший товар года». Мы также выполняем заказы для СНГ и
                        Европы.</p>
                </div>
            </div>

            {% if category_products|length %}
                <div class="b-section b-section_short b-section_borderless">
                    <div class="grid__row">
                        <div class="grid__column-12">
                            <div class="b-category-list-group b-category-list-group_inline">
                                <ul class="b-category-list-group__list b-category-list-group__list_bold">
                                    {% for category_product in category_products %}
                                        <li class="b-category-list-group__list__item">
                                            <a href="{% url "catalog_category" category_product.slug|add:'/' %}"
                                               class="b-category-list-group__list__item-link">{{ category_product.name }}</a>
                                            {% if category_product.number > 0 %}
                                                <span class="b-category-list-group__list__item-info">{{ category_product.number }} позиции</span>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="grid__row">
                <div class="grid__column-9">
                    <p class="b-section-text">
                        Вы можете купить готовую продукцию (из каталога на нашем сайте) или заказать изготовление по
                        индивидуальным размерам.
                    </p>
                    <p class="b-section-text">
                        В рамках партнерских соглашений мы также осуществляем сборку и последующую реализацию по
                        выгодным ценам теплообменного оборудования ведущих производителей Германии, Швеции и других
                        стран.
                    </p>
                    <h3 class="b-section-subtitle b-section-subtitle_colorful">
                        Каталог теплообменного оборудования
                    </h3>
                    <p class="b-section-text">
                        В нашем каталоге представлено теплообменное оборудование всех наиболее востребованных типов.
                        Если вам необходима консультация или вы не нашли на нашем сайте то, что искали – обязательно
                        позвоните нам, мы предоставим всю актуальную информацию и ответим на ваши вопросы.
                    </p>
                </div>
                <div class="grid__column-4 grid__offset">
                    <img class="b-section-logotype" src="{% static 'img/logotype_square.png' %}"
                         alt="Логотип_маленький">
                    <h4 class="b-section-subtitle">Все работы выполняются:</h4>
                    <ul class="b-section-list">
                        <li class="b-section-list__item">На высокоточных станках с УЧПУ, в том числе без участия
                            человека,
                        </li>
                        <li class="b-section-list__item">под контролем первоклассных мастеров завода с многолетним
                            опытом,
                        </li>
                        <li class="b-section-list__item">на оборудовании, прошедшем государственную аттестацию.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include 'blocks/bottom.html' %}
{% endblock %}
