{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}

{% block content %}

    <div class="b-section">
        <div class="b-layout">
            <div class="b-breadcrumbs">
                <a class="b-breadcrumbs__link" href="/">Главная</a> /
                <a class="b-breadcrumbs__link" href="{% url "catalog" %}">Каталог</a>
            </div>
            <div class="grid__row">
                <div class="grid__column-9">
                    <h3 class="b-section-title">{{ category.name }}</h3>
                </div>
                <div class="grid__column-7">
                    <ul class="b-tab">
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{{ request.path }}?expand=true">Расширено</a>
                        </li>
                        <li class="b-tab__item b-tab__item_active">
                            <a class="b-tab__item__link" href="{{ request.path }}">Списком</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid__row">
                <a href="../" class="b-section-back">Назад к каталогу</a>
            </div>
            <div class="grid__row">
                <div class="grid__column-12">
                    <div class="submenu__catalog">
                        <ul class="submenu__catalog__list">
                            {% for product in products %}
                            <li class="submenu__catalog__list__item">
                                <a href="{% url "catalog_category" product.slug %}" class="submenu__catalog__list__item-link">{{ product.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-12">
                    <div class="submenu__catalog">
                        <ul class="submenu__catalog__list">
                            {% for subcategory in subcategories %}
                            <li class="submenu__catalog__list__item">
                                <a href="{% url "catalog_category" subcategory.slug %}" class="submenu__catalog__list__item-link">{{ subcategory.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-9">
                    <p class="b-section-text">
                        {{ category.text }}
                    </p>
                </div>
                <div class="grid__column-4 grid__offset grid__offset__catalog__news">
                    <h4 class="b-section-subtitle"></h4>
                    <ul class="b-section-list">
                        {% for category_file in category.categoryfiles %}
                        <li class="b-section-list__item">{{ category_file.title }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-12">
                    <div class="submenu__catalog">
                        <ul class="submenu__catalog__list">
                            {% for category_image in category.categoryimages %}
                            <li class="submenu__catalog__list__item">
                                {{ category_image.title }}
                            </li>
                            <div class="b-box__image">
                                <img src="{% static category_image.url %}" alt="Пример Продукта">
                            </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="b-section">
        <div class="b-layout">
            <div class="grid__row">
                <div class="grid__column-4">
                    <h4 class="b-section-subtitle">Новинка производства</h4>
                    <div class="b-box__image-left">
                        <img src="{% static 'img/products/product_sale.png' %}" alt="Пример Продукта">
                    </div>
                    <span class="b-section-subtitle-subtitle">
                        ПЛАСТИНЧАТЫЕ ТЕПЛООБМЕННИКИ
                    </span>
                    <span class="b-section-text">
                        Разборные пластинчатые<br>
                        теплообменник FUNKE
                    </span>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h4 class="b-section-subtitle">Последняя новость</h4>
                    <span class="b-section-subtitle-subtitle">
                        ПЛАСТИНЧАТЫЕ ТЕПЛООБМЕННИКИ
                    </span>
                    <span class="b-section-text">
                        Служба Яндекс.Рефераты предназнаена для
                        студентов и школьников, дизайнеров
                    </span>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h4 class="b-section-subtitle">Видео как закалялась сталь</h4>
                    <div class="b-box__image-halfsize">
                        <img src="{% static 'img/life/banner_1.png' %}" alt="Пример Видео">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
