{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}
{% load extras %}

{% block content %}
    <div class="b-section b-section_short">
        <div class="b-layout">

            <div class="b-breadcrumbs">
                <a class="b-breadcrumbs__link" href="/">Главная</a> /
                <a class="b-breadcrumbs__link" href="{% url "catalog" %}">Каталог</a>
                {% if category.parent_id %}
                    / <a class="b-breadcrumbs__link"
                        href="{% url "catalog_category" category.parent_id.slug %}">{{ category.parent_id.name }}</a>
                {% endif %}
            </div>

            <div class="grid__row">
                <div class="grid__column-7">
                    <h3 class="b-section-title">{{ category.name }}</h3>
                </div>
                <div class="grid__column-7">
                    <ul class="b-tab">
                        <li class="b-tab__item b-tab__item_active">
                            <a class="b-tab__item__link" href="{{ request.path }}?expand=true">Расширено</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{{ request.path }}?expand=false">Списком</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid__row">
                {% if category.parent_id %}
                    <a href="{% url "catalog_category" category.parent_id.slug %}" class="b-section-back">Назад к
                        каталогу</a>
                {% else %}
                    <a href="../" class="b-section-back">Назад к каталогу</a>
                {% endif %}
            </div>
            <div class="b-section b-section_borderless">
                {% for ind, subcategory in ind_subcategory %}
                {% if ind|mod:3 == 0 %}
                    <div class="grid__row grid__row-btm">
                    <div class="grid__column-4">
                {% else %}
                    <div class="grid__column-4 grid__offset">
                {% endif %}
                <a class="b-link b-link_pseudo" href="{% url "catalog_category" subcategory.slug %}">
                    <div class="b-box">
                        <div class="b-box__wrapper">
                            <div class="b-box__image">
                                {% if subcategory.images.first %}
                                    <img src="{{ subcategory.images.first.image.url }}" alt="Пример Продукта">
                                {% else %}
                                    <img src="{% static 'img/products/product_sale.png' %}" alt="Пример Продукта">
                                {% endif %}
                            </div>
                            <h4 class="b-box__header">{{ subcategory.name }}</h4>
                            <p class="b-box__text">{{ subcategory.text|truncatewords:20 | striptags }}</p>
                        </div>
                        <div class="b-box__footer">
                            <div class="b-box__wrapper">
                                {% if subcategory.number > 0 %}
                                    <span class="b-box__footer-left">{{ subcategory.number }} позиции</span>
                                {% endif %}
                                {% if subcategory.number != 0 and subcategory.price_list %}
                                    <a class="b-link b-link_pseudo" href="{{ subcategory.price_list.url }}">
                                        <span class="b-box__footer-right"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Прайс-лист</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% if ind|add:1|mod:3 == 0 %}
                </div>
            {% endif %}
            {% endfor %}
            </div>
            <div class="grid__row">
                <div class="grid__column-9">
                    <div class="b-content">
                        {{ category.text | safe }}
                    </div>
                </div>
                <div class="grid__column-4 grid__offset grid__offset__catalog__news">
                    <h4 class="b-section-subtitle"></h4>
                    <ul class="b-section-list">
                        {% for category_file in category.categoryfiles %}
                            <li class="b-section-list__item">{{ category_file.title }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-12">
                    <div class="submenu__catalog">
                        <ul class="submenu__catalog__list">
                            {% for category_image in category.categoryimages %}
                                <li class="submenu__catalog__list__item">
                                    {{ category_image.title }}
                                </li>
                                <div class="b-box__image">
                                    <img src="{% static category_image.url %}" alt="Пример Продукта">
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="b-section">
        <div class="b-layout">
            <div class="grid__row">
                <div class="grid__column-4">
                    <h3 class="subheading">Новинка производства</h3>
                    <a class="b-image"
                       href="{% url 'catalog_category_inside' product_for_bottom.category.slug product_for_bottom.slug %}">
                        <div class="b-box">
                            <div class="b-box__wrapper">
                                <div class="b-box__image-left">
                                    {% if product_for_bottom.images.first %}
                                        <img src="{{ product_for_bottom.images.first.image.url }}"
                                             alt="Пример Продукта">
                                    {% else %}
                                        <img src="{% static 'img/products/product_sale.png' %}" alt="Пример Продукта">
                                    {% endif %}
                                </div>
                                <p class="b-box__author">
                                    {{ product_for_bottom.category.name }}
                                </p>
                                <p class="b-box__text">
                                    {{ product_for_bottom.name }}
                                </p>
                                <div class="b-box__sale">Хит</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h3 class="subheading">Последняя новость</h3>

                    <div class="b-box">
                        <a class="b-image" href="{% url 'news_detail' news_for_bottom.slug %}">
                            <div class="b-box__wrapper">
                                <p class="b-box__author">
                                    {{ news_for_bottom.date_created }}
                                </p>
                                <p class="b-box__text">
                                    {{ news_for_bottom.title }}
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h3 class="subheading">Видео как закалялась сталь</h3>
                    {% if media_for_bottom %}
                        <a class="b-image" href="{% url 'photogallery_detail' media_for_bottom.slug %}">
                    {% endif %}
                    <div class="b-box b-box_noshadow">
                        <div class="b-box__image-halfsize">
                            {% if media_for_bottom %}
                                <img src="{{ media_for_bottom.cover_image.gallery_image.url }}" alt="Пример баннера">
                            {% else %}
                                <img src="{% static 'img/news/news2.png' %}" alt="Пример баннера">
                            {% endif %}
                        </div>
                    </div>
                    {% if media_for_bottom %}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}