{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}

{% block content %}
    <div class="b-section b-section_short">
        <div class="b-layout">
            <div class="b-breadcrumbs b-breadcrumbs_white">
                <a class="b-breadcrumbs__link b-breadcrumbs_white" href="/">Главная</a> /
                {{ title }}
            </div>
        </div>
    </div>
    <div class="b-block">
        <div class="b-block__item b-block__item_colorful">
            <div class="b-block__item__wrapper">
                <ul class="b-tab b-tab-nofloat">
                    <li class="b-tab__item b-tab__item_active">
                        <a class="b-tab__item__link b-tab__item__link_white"
                           href="{% url "contacts" %}">Офис</a>
                    </li>
                    <li class="b-tab__item">
                        <a class="b-tab__item__link b-tab__item__link_white"
                           href="{% url "contacts" %}?location=manufacture">Производство</a>
                    </li>
                </ul>
                <h2 class="b-block__item__title b-block__item__title_white">+7 (495) 545-36-90 msk@zavodtriumph.ru</h2>
                <h3 class="b-block__item__title b-block__item__title_small b-block__item__title_white">
                    Режим работы: с 7-00 до 19-00
                </h3>
                <h3 class="b-block__item__title b-block__item__title_small b-block__item__title_white">
                    (по московскому времени)
                </h3>

                <div class="b-section-social b-section-social_contacts">
                    <ul class="b-section-social-list">
                        <li class="b-section-social-list__item">
                            <a href="http://www.facebook.com/zavodtriumph.ru"><i class="fa fa-facebook"
                                                                                 aria-hidden="true"></i></a>
                        </li>
                        <li class="b-section-social-list__item">
                            <a href="http://vk.com/planttriumph"><i class="fa fa-vk" aria-hidden="true"></i></a>
                        </li>
                        <li class="b-section-social-list__item">
                            <a href="http://twitter.com/zavodtriumph"><i class="fa fa-twitter"
                                                                         aria-hidden="true"></i></a>
                        </li>
                        <li class="b-section-social-list__item">
                            <a href="https://plus.google.com/+ZavodtriumphRu"><i class="fa fa-google-plus"
                                                                                 aria-hidden="true"></i></a>
                        </li>
                        <li class="b-section-social-list__item">
                            <a href="http://www.youtube.com/user/zavodtriumph"><i class="fa fa-youtube"
                                                                                  aria-hidden="true"></i></a>
                        </li>
                        <li class="b-section-social-list__item">
                            <a href="http://instagram.com/zavodtriumph"><i class="fa fa-instagram"
                                                                           aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="b-block__item">
            <div style="height:100%" id="map-office"></div>
            <div class="b-block__item__wrapper b-block__item__wrapper_absolute">
                <h3 class="b-block__item__title b-block__item__title_small b-block__item__title_white">
                    107014, г. Москва
                </h3>
                <h2 class="b-block__item__title b-block__item__title_white">ул. Стромынка, д.13-а</h2>
                <h3 class="b-block__item__title b-block__item__title_small b-block__item__title_white">
                    оф. 11 (м. Сокольники)
                </h3>
            </div>
        </div>
        <div class="b-block__item">
            <div class="b-block__item__wrapper">
                <div id="contacts-employee">
                    {% for employees in employees_by_departments %}
                        <div>
                            <h3 class="b-block__item__title b-block__item__title_small">
                                {{ employees.0.department.title }}
                            </h3>
                            <div class="b-section__space"></div>
                            <div class="grid__row">
                                <div class="grid__column-2">
                                    <a class="b-image b-image-round" href="{% url "employee_info" employees.0.name %}">
                                        <div class="b-image__container">
                                            {% if employees.0.image %}
                                                <img src="{{ employees.0.image.image.url }}" alt="Пример награды">
                                            {% else %}
                                                <img src="{% static 'img/employee/example.png' %}" alt="Пример награды">
                                            {% endif %}
                                        </div>
                                        <div class="b-image__title">{{ employees.0.first_name }} {{ employees.0.last_name }}</div>
                                        <div class="b-image__caption">{{ employees.0.email }}</div>
                                    </a>
                                </div>
                                {% if employees.1 %}
                                    <div class="grid__column-2 grid__offset">
                                        <a class="b-image b-image-round" href="{% url "employee_info" employees.1.name %}">
                                            <div class="b-image__container">
                                                {% if employees.1.image %}
                                                    <img src="{{ employees.1.image.image.url }}" alt="Пример награды">
                                                {% else %}
                                                    <img src="{% static 'img/employee/example.png' %}" alt="Пример награды">
                                                {% endif %}
                                            </div>
                                            <div class="b-image__title">{{ employees.1.first_name }} {{ employees.1.last_name }}</div>
                                            <div class="b-image__caption">{{ employees.1.email }}</div>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div id="mouse"></div>
            </div>
        </div>
        <div class="b-block__item b-block__item_grey">
            <div class="b-block__item__wrapper">
                <form class="b-form" method="post" action="{{ request.path }}">
                    {% csrf_token %}
                    <div class="b-form-group">
                        <input type="text" class="b-form-control" placeholder="Ваше имя"
                               id="id_name" maxlength="200" name="name" required="">
                    </div>
                    <div class="grid-fluid">
                        <div class="grid__row">
                            <div class="grid__column-7">
                                <div class="b-form-group">
                                    <input class="b-form-control" placeholder="Контактный телефон"
                                        id="id_phone" maxlength="50" name="phone">
                                </div>
                            </div>
                            <div class="grid__column-7">
                                <div class="b-form-group">
                                    <input class="b-form-control" placeholder="E-mail для ответа"
                                        id="id_email" name="email" type="email" required="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-form-group">
                        <textarea id="id_comment" maxlength="500" name="comment" required=""
                                  class="b-form-control" rows="4" placeholder="Ваше сообщение"></textarea>
                    </div>
                    <input id="id_product" maxlength="500" name="product" type="hidden" value="0">
                    <button type="submit" class="b-btn b-btn__fullwidth">
                        <span class="b-btn__text">Отправить сообщение</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script>
        function initMap() {
            var myLatLng = {lat: 55.794402, lng: 37.6905963};

            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map-office'), {
                center: myLatLng,
                scrollwheel: false,
                zoom: 16,
                minZoom: 16,
                maxZoom: 16,
                draggable: false,
                mapTypeControl: false,
                panControl: false,
                rotateControl: false,
                scaleControl: false,
                streetViewControl: false,
                zoomControl: false
            });

            map.setOptions({
                styles: [
                    {elementType: 'geometry', stylers: [{color: '#1f4d44'}]},
                    {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
                    {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
                    {
                        featureType: 'administrative.locality',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#2f7063'}]
                    },
                    {
                        featureType: 'poi',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#2f7063'}]
                    },
                    {
                        featureType: 'poi.park',
                        elementType: 'geometry',
                        stylers: [{color: '#263c3f'}]
                    },
                    {
                        featureType: 'poi.park',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#6b9a76'}]
                    },
                    {
                        featureType: 'road',
                        elementType: 'geometry',
                        stylers: [{color: '#183b35'}]
                    },
                    {
                        featureType: 'road',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#212a37'}]
                    },
                    {
                        featureType: 'road',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#2f7063'}]
                    },
                    {
                        featureType: 'road.highway',
                        elementType: 'geometry',
                        stylers: [{color: '#1a3f38'}]
                    },
                    {
                        featureType: 'road.highway',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#1f2835'}]
                    },
                    {
                        featureType: 'road.highway',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#2f7063'}]
                    },
                    {
                        featureType: 'transit',
                        elementType: 'geometry',
                        stylers: [{color: '#2f3948'}]
                    },
                    {
                        featureType: 'transit.station',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#d59563'}]
                    },
                    {
                        featureType: 'water',
                        elementType: 'geometry',
                        stylers: [{color: '#1a3f38'}]
                    },
                    {
                        featureType: 'water',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#515c6d'}]
                    },
                    {
                        featureType: 'water',
                        elementType: 'labels.text.stroke',
                        stylers: [{color: '#17263c'}]
                    },
                    {
                        featureType: 'poi.business',
                        stylers: [{visibility: 'off'}]
                    },
                    {
                        featureType: 'transit',
                        elementType: 'labels.icon',
                        stylers: [{visibility: 'off'}]
                    }
                ]
            });

            var image = {
                url: '/static/img/marker.png',
                size: new google.maps.Size(21, 29),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(0, 29)
            };

            // Create a marker and set its position.
            var marker = new google.maps.Marker({
                map: map,
                position: myLatLng,
                icon: image
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyk6m7VRYi4bnncUZWMXKXYxqYAE-54gg&callback=initMap"
            async defer></script>
{% endblock %}
{% block extra-js %}
    <script type="text/javascript" src="{% static 'js/vendor/mousewheel.js' %}"></script>
    <script>
        $(document).ready(function () {
            var $slider = $('#contacts-employee');
            $slider.slick({
                vertical: true,
                verticalSwiping: true,
                arrows: false,
                slidesToShow: 1,
                slidesToScroll: 1
            });

            $slider.mousewheel(function (e) {
                e.preventDefault();

                if (e.deltaY < 0) {
                    $(this).slick('slickNext');
                } else {
                    $(this).slick('slickPrev');
                }

            });
        });
    </script>
{% endblock %}