{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}

{% block content %}
    <div class="b-section b-section_short">
        <div class="b-layout">
            <div class="b-breadcrumbs">
                <a class="b-breadcrumbs__link" href="{% url "main" %}">Главная</a> /
                <a class="b-breadcrumbs__link" href="{% url "dokumentatsija" %}">Документы</a> /
                {{ title }}
            </div>
            <div class="grid__row">
                <div class="grid__column-7">
                    <h1 class="b-section-title">Документация</h1>
                </div>
                <div class="grid__column-6 grid__offset">
                    <ul class="b-tab">
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "razreshenie_na_primenenie" %}">Разрешение на
                                применение</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "sertifikaty" %}">Сертификаты</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "tovarnye_znaki" %}">Товарные знаки</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "tekhnicheskaja_dokumentatsija" %}">Техническая
                                документация</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-9">
                    <p class="b-section-text">
                        Завод Триумф производит свою продукцию согласно действующему
                        законодательству Российской Федерации, нормативным актам, техническим регламентам. На всю
                        продукцию есть необходимая разрешительная документация.
                    </p>
                    <p class="b-section-text">
                        Данный раздел содержит информацию о сертификатах на продукцию, необходимые
                        разрешения на применение согласно техническому регламенту, а так же данные о технической
                        документации на <a href="http://zavodtriumph.ru/catalog/">производимую продукцию.</a>
                    </p>
                    <h2 class="b-section-subtitle b-section-subtitle_colorful">
                        <a class="b-link b-section-subtitle b-section-subtitle_colorful"
                           href="http://zavodtriumph.ru/dokumentatsija/razreshenie-na-primenenie/">
                            Разрешение на применение
                        </a>
                    </h2>
                    <p class="b-section-text">Оборудование, используемое организацией на производственных объектах,
                        оцениваемые как опасные, должно отвечать установленным правилам промышленной безопасности.
                        Согласование и контроль за исполнением этих правил возложено на ФСЭТАН-Федеральную службу по
                        экологическому, технологическому и атомному надзору.</p>
                    <p class="b-section-text">На основании представленных документов от завода-изготовителя, ФСЭТАН
                        выдает разрешение на применение–это документ, дающий право применять технические устройства на
                        определенных опасных производственных объектах в различных областях промышленности и
                        свидетельствует о промышленной безопасности оборудования.</p>
                    <h2 class="b-section-subtitle b-section-subtitle_colorful">
                        <a class="b-link b-section-subtitle b-section-subtitle_colorful"
                           href="http://zavodtriumph.ru/dokumentatsija/sertifikaty/">
                            Сертификаты
                        </a>
                    </h2>
                    <p class="b-section-text">
                        Завод Триумф имеет все необходимые сертификаты на свою продукцию, которые подтверждают, что
                        данная продукция полностью соответствует действующим стандартам и правилам, требованиям
                        технических регламентов.
                    </p>
                    <h2 class="b-section-subtitle b-section-subtitle_colorful">
                        <a class="b-link b-section-subtitle b-section-subtitle_colorful"
                           href="http://zavodtriumph.ru/dokumentatsija/tovarnye-znaki/">
                            Товарные знаки
                        </a>
                    </h2>
                    <p class="b-section-text">
                        Товарный знак — закреплен Парижской конвенцией в 1883 года, как один из видов промышленной
                        собственности. Права на товарный знак так же предусматриваются Мадридской конвенцией о
                        международной регистрации товарного знака 1981 года.
                    </p>
                    <p class="b-section-text">
                        Товарный знак Завода Триумф показывает принадлежность исключительных прав на данную продукцию,
                        свидетельствует о высоком качестве <a class="b-link" href="http://zavodtriumph.ru/catalog/">товара,
                        производимого на предприятии.</a>
                    </p>
                    <h2 class="b-section-subtitle b-section-subtitle_colorful">
                        <a class="b-link b-section-subtitle b-section-subtitle_colorful"
                           href="http://zavodtriumph.ru/dokumentatsija/tekhnicheskaja-dokumentatsija/">
                            Техническая документация
                        </a>
                    </h2>
                    <p class="b-section-text">
                        Данная страница содержит технические материалы: ГОСТы, стандарты, нормативные документы, по
                        которым Завод Триумф производит свою продукцию. Здесь собрана различная полезная литература,
                        которую можно скачать бесплатно.
                    </p>
                    <p class="b-section-text">
                        <a class="b-link" href="http://zavodtriumph.ru/dokumentatsija/zachem-nuzhna-dokumentatsija/">Зачем
                            нужна документация</a>
                    </p>
                    <h3 class="b-section-subtitle b-section-subtitle_colorful">
                        <a class="b-link b-section-subtitle b-section-subtitle_colorful"
                           href="http://zavodtriumph.ru/articles/">Полезные статьи</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    {% include 'blocks/bottom.html' %}
{% endblock %}
