{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}

{% block content %}
    <div class="b-section b-section_short">
        <div class="b-layout">
            <div class="b-breadcrumbs">
                <a class="b-breadcrumbs__link" href="/">Главная</a> /
            </div>
            <div class="grid__row">
                <div class="grid__column-7">
                    <h3 class="b-section-title">Доставка</h3>
                </div>
                <div class="grid__column-7">
                    <ul class="b-tab">
                        <li class="b-tab__item b-tab__item_active">
                            <a class="b-tab__item__link" href="#">Доставка</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "mezhdunarodnaja_dostavka" %}">Международная
                                доставка</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "geografija_prodazh" %}">География продаж</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-12">
                    <p class="b-section-text">
                        <a href="http://zavodtriumph.ru/catalog/">Продукция Завода Триумф</a> поставляется <a
                            href="http://zavodtriumph.ru/partnery/">во все регионы России, а также страны
                        СНГ</a> и <a href="http://zavodtriumph.ru/dostavka/mezhdunarodnaja-dostavka/">Европы</a>. <a
                            href="http://zavodtriumph.ru/geografija-prodazh/">География продаж</a> постоянно
                        расширяется. Мы стремимся максимально сократить расстояние между производственными цехами
                        завода и объектами наших заказчиков.
                    </p>
                    <h2 class="b-section-subtitle">Калькуляторы транспортных компаний</h2>
                    <p class="b-section-text">
                        Помощь в подсчете стоимости доставки вы всегда можете получить у наших
                        специалистов, позвонив в <a href="http://zavodtriumph.ru/contacts/">офис ближайшего города
                        доставки</a> (или бесплатно: +7 800-555-92-20). А так же самостоятельно, используя
                        калькуляторы транспортных компаний России.
                    </p>
                    <ul class="b-section-list">
                        <li class="b-section-list__item"><a href="http://www.jde.ru/calc" target="_blank">Желдорэкспедиция</a>
                        </li>
                        <li class="b-section-list__item"><a href="http://www.dellin.ru/calculator/" target="_blank">Деловые
                            линии</a></li>
                        <li class="b-section-list__item"><a href="http://www.ae5000.ru/"
                                                            target="_blank">Автотрейдинг</a></li>
                        <li class="b-section-list__item"><a href="http://www.tk-kit.ru/calculator"
                                                            target="_blank">Кит</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="b-section">
        <div class="b-layout">
            <div class="grid__row">
                <div class="grid__column-4">
                    <h3 class="subheading">Новинка производства</h3>
                    <a class="b-link_pseudo"
                       href="{% url 'catalog_category_inside' product_for_bottom.category.slug product_for_bottom.slug %}">
                        <div class="b-box">
                            <div class="b-box__wrapper">
                                <div class="b-box__image-left">
                                    {% if product_for_bottom.images.first %}
                                        <img src="{{ product_for_bottom.images.first.image.url }}"
                                             alt="Пример Продукта">
                                    {% else %}
                                        <img src="{% static 'img/products/product_sale.png' %}" alt="Пример Продукта">
                                    {% endif %}
                                </div>
                                <p class="b-box__author">
                                    {{ product_for_bottom.category.name }}
                                </p>
                                <p class="b-box__text">
                                    {{ product_for_bottom.name }}
                                </p>
                                <div class="b-box__sale">Хит</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h3 class="subheading">Последняя новость</h3>
                    <a class="b-link_pseudo" href="{% url 'news_detail' news_for_bottom.slug %}">
                        <div class="b-box">
                            <div class="b-box__wrapper">
                                <p class="b-box__author">
                                    {{ news_for_bottom.date_created }}
                                </p>
                                <p class="b-box__text">
                                    {{ news_for_bottom.title }}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h3 class="subheading">Видео как закалялась сталь</h3>
                    {% if media_for_bottom %}
                        <a class="b-image" href="{% url 'photogallery_detail' media_for_bottom.slug %}">
                    {% endif %}
                    <div class="b-box b-box_noshadow">
                        <div class="b-box__image-halfsize">
                            {% if media_for_bottom %}
                                <img src="{{ media_for_bottom.cover_image.gallery_image.url }}" alt="Пример баннера">
                            {% else %}
                                <img src="{% static 'img/news/news2.png' %}" alt="Пример баннера">
                            {% endif %}
                        </div>
                    </div>
                    {% if media_for_bottom %}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}