{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}
{% load extras %}
{% load threadedcomments_tags %}

{% block content %}
    <div class="b-player">
        <img src="{% static 'img/player.png' %}" alt="Картинка-заглушка">
    </div>
    <div class="b-category-list">
        <div class="b-layout">
            <div class="b-category-list-wrapper">
                <h1 class="b-category-list-title">Продукция завода</h1>
                <div class="grid__row">
                    <div class="grid__column-4">
                        <div class="b-category-list-group">
                            <h2 class="b-category-list-group-title">Кожухотрубные теплообменники</h2>
                            <ul class="b-category-list-group__list">
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'vodovodjanye-podogrevateli/' %}"
                                       class="b-category-list-group__list__item-link">Водоводяные подогреватели</a>
                                </li>
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'vodovodjanye-podogrevateli/kalachi/' %}"
                                       class="b-category-list-group__list__item-link">Калачи для ВВП, переходы для
                                        ВВП</a>
                                </li>
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'parovodjanye-podogrevateli/' %}"
                                       class="b-category-list-group__list__item-link">Подогреватели пароводяные</a>
                                </li>
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'emkostnoe-oborudovanie/podogrevateli-parovye-emkostnye-tipa-vpe-std/' %}"
                                       class="b-category-list-group__list__item-link">Подогреватели паровые емкостные
                                        (ВПЕ)</a>
                                </li>
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'konvektory-otoplenija/' %}"
                                       class="b-category-list-group__list__item-link">Конвекторы отопления</a>
                                </li>
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'registry-otopitelnye/' %}"
                                       class="b-category-list-group__list__item-link">Регистры отопительные</a>
                                </li>
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'pajanye-plastinchatye-teploobmenniki/' %}"
                                       class="b-category-list-group__list__item-link">Паяные теплообменники</a>
                                </li>
                            </ul>
                        </div>
                        <div class="b-category-list-group">
                            <h2 class="b-category-list-group-title">Грязевики</h2>
                            <ul class="b-category-list-group__list">
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'grjazevik/grjazeviki-gorizontalnye-gg-serija-ts-565-ts-566/' %}"
                                       class="b-category-list-group__list__item-link">Горизонтальные: ТС-565, ТС-566</a>
                                </li>
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'grjazevik/grjazeviki-vertikalnye-gv-serija-ts-567-ts-568/' %}"
                                       class="b-category-list-group__list__item-link">Вертикальные: ТС-567, ТС-568</a>
                                </li>
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'grjazevik/grjazeviki-vertikalnye-gv-serija-ts-567-ts-568/' %}"
                                       class="b-category-list-group__list__item-link">Грезевики для тепловых
                                        пунктов (ГТП) ТС-569</a>
                                </li>
                            </ul>
                        </div>
                        <div class="b-category-list-group">
                            <h2 class="b-category-list-group-title">Воздухосборники А1И</h2>
                            <ul class="b-category-list-group__list">
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'vozdukhosborniki-a1ivertikalnye-vozdukhosborniki/' %}"
                                       class="b-category-list-group__list__item-link">Вертикальные</a>
                                </li>
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'vozdukhosborniki-a1i/gorizontalnye-vozdukhosborniki/' %}"
                                       class="b-category-list-group__list__item-link">Горизонтальные</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid__column-4 grid__offset">
                        <div class="b-category-list-group">
                            <h2 class="b-category-list-group-title">Пластинчатые теплообменники</h2>
                            <ul class="b-category-list-group__list">
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'plastinchatye-teploobmenniki/ridan/' %}"
                                       class="b-category-list-group__list__item-link">Теплообменники Ридан, Funke,
                                        Tranter</a>
                                </li>
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'svarnye-teploobmenniki/' %}"
                                       class="b-category-list-group__list__item-link">Сварные теплообменники</a>
                                </li>
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'spiralnye-teploobmenniki/' %}"
                                       class="b-category-list-group__list__item-link">Спиральные теплообменники</a>
                                </li>
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'pogruzhnye-teploobmenniki/' %}"
                                       class="b-category-list-group__list__item-link">Погружные теплообменники</a>
                                </li>
                            </ul>
                        </div>
                        <div class="b-category-list-group">
                            <h2 class="b-category-list-group-title">Другие категории</h2>
                            <ul class="b-category-list-group__list">
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'okhladiteli-vypara/' %}"
                                       class="b-category-list-group__list__item-link">Охладители выпара</a>
                                </li>
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'podogrevateli-mazuta/' %}"
                                       class="b-category-list-group__list__item-link">Подогреватели мазута</a>
                                </li>
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'dnishha-ellipticheskie/' %}"
                                       class="b-category-list-group__list__item-link">Днища эллиптические</a>
                                </li>
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'elevatory/' %}"
                                       class="b-category-list-group__list__item-link">Элеваторы</a>
                                </li>
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'truboprovodnaja-armatura/' %}"
                                       class="b-category-list-group__list__item-link">Трубопроводная арматура</a>
                                </li>
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'kontejjnery-dlja-musora/' %}"
                                       class="b-category-list-group__list__item-link">Контейнеры для мусора</a>
                                </li>
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'nestandartizirovannoe-oborudovanie/' %}"
                                       class="b-category-list-group__list__item-link">Нестандартизированное
                                        оборудование</a>
                                </li>
                                <li class="b-category-list-group__list__item">
                                    <a href="{% url "catalog_category" 'montazh-oborudovanija/' %}"
                                       class="b-category-list-group__list__item-link">Монтаж оборудования</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% if black_friday_product %}
                        <div class="grid__column-4 grid__offset">
                            <h3 class="subheading">Лучшая цена</h3>
                            <a class="b-link_pseudo"
                               href="{% url 'catalog_category' black_friday_product|get_full_product_path %}"
                               title="{{ black_friday_product.name }}">
                                <div class="b-box">
                                    <div class="b-box__wrapper">
                                        <div class="b-box__image">
                                            <img src="{% static 'img/products/product_sale.png' %}"
                                                 alt="Пример Продукта">
                                        </div>
                                        <h4 class="b-box__header">{{ black_friday_product.name }}</h4>
                                        <p class="b-box__text">
                                            {{ black_friday_product.product_text | truncatewords:20 | striptags | safe }}
                                        </p>
                                        <div class="b-box__sale">-{{ black_friday_product.black_friday_discount }}%
                                        </div>
                                    </div>
                                    <div class="b-box__footer">
                                        <div class="b-box__wrapper">
                                            {% if black_friday_product.images %}
                                            {#                                        <span class="b-box__footer-left">44 позиции</span>#}
                                            <a class="b-link_pseudo"
                                               href="{% url 'catalog_category' black_friday_product|get_full_product_path %}?tab=photo"
                                               title="{{ black_friday_product.name }}">
                                                <span class="b-box__footer-right"><i class="fa fa-picture-o"
                                                                                     aria-hidden="true"></i> {{ black_friday_product.images.all | length }} фото</span>
                                            </a>
                                                {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="b-section b-section_large">
        <div class="b-layout">
            <h3 class="b-section-title">С заводом сотрудничают</h3>
            <div class="grid__row">
                <div class="grid__column-1" id="arrow-left">
                    <a class="b-slider__arrow-left"></a>
                </div>
                <div class="grid__column-12">
                    <div id="partners">
                        <div class="grid__column-3 b-slider__item">
                            <img src="{% static 'img/slider/nike_test.png' %}" alt="">
                            <div class="b-slider__item-title">Найкыште 1</div>
                            <div class="b-slider__item-desc">Оптовый поставщик труб и проката</div>
                        </div>
                        <div class="grid__column-3 b-slider__item">
                            <img src="{% static 'img/slider/nike_test.png' %}" alt="">
                            <div class="b-slider__item-title">Найкыште 2</div>
                            <div class="b-slider__item-desc">Оптовый поставщик труб и проката</div>
                        </div>
                        <div class="grid__column-3 b-slider__item">
                            <img src="{% static 'img/slider/nike_test.png' %}" alt="">
                            <div class="b-slider__item-title">Найкыште 3</div>
                            <div class="b-slider__item-desc">Оптовый поставщик труб и проката</div>
                        </div>
                        <div class="grid__column-3 b-slider__item">
                            <img src="{% static 'img/slider/nike_test.png' %}" alt="">
                            <div class="b-slider__item-title">Найкыште 4</div>
                            <div class="b-slider__item-desc">Оптовый поставщик труб и проката</div>
                        </div>
                        <div class="grid__column-3 b-slider__item">
                            <img src="{% static 'img/slider/nike_test.png' %}" alt="">
                            <div class="b-slider__item-title">Найкыште 5</div>
                            <div class="b-slider__item-desc">Оптовый поставщик труб и проката</div>
                        </div>
                        <div class="grid__column-3 b-slider__item">
                            <img src="{% static 'img/slider/nike_test.png' %}" alt="">
                            <div class="b-slider__item-title">Найкыште 6</div>
                            <div class="b-slider__item-desc">Оптовый поставщик труб и проката</div>
                        </div>
                        <div class="grid__column-3 b-slider__item">
                            <img src="{% static 'img/slider/nike_test.png' %}" alt="">
                            <div class="b-slider__item-title">Найкыште 7</div>
                            <div class="b-slider__item-desc">Оптовый поставщик труб и проката</div>
                        </div>
                        <div class="grid__column-3 b-slider__item">
                            <img src="{% static 'img/slider/nike_test.png' %}" alt="">
                            <div class="b-slider__item-title">Найкыште 8</div>
                            <div class="b-slider__item-desc">Оптовый поставщик труб и проката</div>
                        </div>
                        <div class="grid__column-3 b-slider__item">
                            <img src="{% static 'img/slider/nike_test.png' %}" alt="">
                            <div class="b-slider__item-title">Найкыште 9</div>
                            <div class="b-slider__item-desc">Оптовый поставщик труб и проката</div>
                        </div>
                        <div class="grid__column-3 b-slider__item">
                            <img src="{% static 'img/slider/nike_test.png' %}" alt="">
                            <div class="b-slider__item-title">Найкыште 10</div>
                            <div class="b-slider__item-desc">Оптовый поставщик труб и проката</div>
                        </div>
                        <div class="grid__column-3 b-slider__item">
                            <img src="{% static 'img/slider/nike_test.png' %}" alt="">
                            <div class="b-slider__item-title">Найкыште 11</div>
                            <div class="b-slider__item-desc">Оптовый поставщик труб и проката</div>
                        </div>
                        <div class="grid__column-3 b-slider__item">
                            <img src="{% static 'img/slider/nike_test.png' %}" alt="">
                            <div class="b-slider__item-title">Найкыште 12</div>
                            <div class="b-slider__item-desc">Оптовый поставщик труб и проката</div>
                        </div>
                    </div>
                </div>
                <div class="grid__column-1" id="arrow-right">
                    <a class="b-slider__arrow-right"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="b-section b-section_large">
    <div class="b-layout">
        <h3 class="b-section-title">Новости</h3>
        <div class="grid__row">
            {% for ind, news in ind_news %}
                {% if ind == 0 %}
                    <div class="grid__column-custom-612">
                {% else %}
                    <div class="grid__column-custom-612 grid__offset-small">
                {% endif %}
            <a class="b-link_pseudo" href="{% url "news_detail" news.slug %}" title="{{ news.title }}">
                <div class="b-box b-box_468">

                    <div class="b-box__image-fullsize">
                        <img src="{% static 'img/life/banner_1.png' %}" alt="Пример баннера">
                    </div>
                    <div class="b-box__body">
                        <div class="b-box__wrapper">
                            <h4 class="b-box__header b-box__header-big">{{ news.title|truncatechars:60 }}</h4>
                            <p class="b-box__text">
                                {{ news.text | striptags | truncatechars:170 }}
                            </p>
                        </div>
                    </div>
                    <div class="b-box__footer">
                        <div class="b-box__wrapper">
                            <span class="b-box__footer-left">{{ news.date_created|date:"d F Y"|lower }} г.</span>
                            {% get_comment_count for news as comment_count %}
                            <span class="b-box__footer-right"><i class="fa fa-comments"
                                                                 aria-hidden="true"></i> {{ comment_count }}</span>
                        </div>
                    </div>

                </div>
            </a>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="b-section b-section_large">
        <div class="b-layout">
            <h3 class="b-section-title">Наши статьи</h3>
            <div class="grid__row">
                {% for ind, article in ind_articles %}
                    {% if ind == 0 %}
                        <div class="grid__column-4">
                    {% else %}
                        <div class="grid__column-4 grid__offset">
                    {% endif %}
                <a class="b-link_pseudo" href="{% url "articles_detail" article.slug %}" title="{{ article.title }}">
                    <div class="b-box b-box_342 {% cycle 'b-box-red' 'b-box-green' 'b-box-black' %}">
                        <div class="b-box__image-fullsize">
                            {% if article.images.first %}
                                <img src="{{ article.images.first.image.url }}" alt="Пример награды">
                            {% else %}
                                <img src="{% static 'img/news/example.png' %}" alt="Пример баннера">
                            {% endif %}
                        </div>
                        <div class="b-box__body">
                            <div class="b-box__wrapper">
                                <h4 class="b-box__header">{{ article.title|truncatechars:60 }}</h4>
                                <p class="b-box__text">
                                    {{ article.text|striptags|truncatechars:150 }}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="b-section b-section_large">
        <div class="b-layout">
            <h3 class="b-section-title">О заводе</h3>
            <div class="grid__row">
                <div class="grid__column-9">
                    <p class="b-section-text">«Завод Триумф» – ведущий в России изготовитель теплообменного и
                        вспомогательного оборудования. Продукция компании используется в котельных и тепловых пунктах
                        коммунальных и промышленных объектов, обеспечивая здания отоплением и горячим водоснабжением. На
                        протяжении 20 лет оборудование завода обогревает жилые дома, детские образовательные учреждения,
                        производственные помещения.</p>
                    <p class="b-section-text">Мы выбрали своим слоганом фразу «Когда репутация прочнее гарантий» и в
                        каждое слово вкладываем особый смысл. Основная цель нашего предприятия – повысить качество жизни
                        населения посредством обеспечения бесперебойной работы в отоплении и подаче горячей воды в домах
                        и на предприятиях.</p>
                    <p class="b-section-text">Доставка теплообменников осуществляется во все населенные пункты
                        Российской Федерации, в страны СНГ и Европы. Работа производства несколько раз отмечалась
                        наградами «Лучший товар года» и Национальный знак качества. Среди наших клиентов такие компании,
                        как: РЖД, Росэнергоатом и Московский метрополитен, а также школы и жилые дома со всей
                        России.</p>
                </div>
                <div class="grid__column-4 grid__offset">
                    <img class="b-section-logotype" src="{% static 'img/logotype_square.png' %}"
                         alt="Логотип_маленький"/>
                    <h4 class="b-section-subtitle">Все работы выполняются:</h4>
                    <ul class="b-section-list">
                        <li class="b-section-list__item">На высокоточных станках с УЧПУ, в том числе без участия
                            человека,
                        </li>
                        <li class="b-section-list__item">под контролем первоклассных мастеров завода с многолетним
                            опытом,
                        </li>
                        <li class="b-section-list__item">на оборудовании, прошедшем государственную аттестацию.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra-js %}
    <script>
        $(document).ready(function () {
            var $slider = $('#partners');
            $slider.slick({
                slidesToShow: 4,
                slidesToScroll: 1,
                swipe: false,
                autoplay: true,
                draggable: false,
                prevArrow: '#arrow-left',
                nextArrow: '#arrow-right'
            });
        });
    </script>
{% endblock %}
