{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}

{% block content %}
    <div class="b-section b-section_short">
        <div class="b-layout">
            <div class="b-breadcrumbs">
                <a class="b-breadcrumbs__link" href="/">Главная</a> / <a class="b-breadcrumbs__link"
                                                                         href="{% url "dostavka" %}">Доставка</a> /
                {{ title }}
            </div>
            <div class="grid__row">
                <div class="grid__column-7">
                    <h3 class="b-section-title">Международная доставка</h3>
                </div>
                <div class="grid__column-7">
                    <ul class="b-tab">
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "dostavka" %}">Доставка</a>
                        </li>
                        <li class="b-tab__item b-tab__item_active">
                            <a class="b-tab__item__link" href="#">Международная доставка</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "geografija_prodazh" %}">География продаж</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-12">
                    <p class="b-section-text">
                        «Завод Триумф» осуществляет доставку своей продукции и в другие
                        государства. На протяжении долгого времени мы сотрудничаем с клиентами из Казахстана,
                        Белоруссии, а также <a href="http://zavodtriumph.ru/geografija-prodazh/">других стран СНГ</a>,
                        куда успешно поставляем свое оборудование. Прочные и качественные контакты,
                        которые мы за это время установили с поставщиками и транспортными компаниями, позволяют ввозить
                        теплообменники в короткие сроки с удачным прохождением границ.
                    </p>
                    <p class="b-section-text">
                        Мы также имеем успешный опыт доставки продукции в Европу – западный рынок знаком нам <a
                            href="http://zavodtriumph.ru/news/teploobmenniki-triumfa-v-evrope/">по сотрудничеству с
                        Эстонией</a>. Но работа со странами ЕС требует большей внимательности и строгости к требованиям
                        в отношении документации и оформления, поэтому может показаться более затруднительной.
                    </p>
                    <p class="b-section-text">
                        Однако для нас эти обязательства не являются серьезной проблемой: мы знаем,
                        как правильно осуществить доставку в европейские государства. Наличие необходимой
                        сертификации на производимую продукцию и внешнеэкономическая документация позволяют
                        нашим теплообменникам пройти таможенный контроль беспрепятственно и быстро. Ведь в вопросах
                        отопления скорость порой играет существенную роль.
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% include 'blocks/bottom.html' %}
{% endblock %}