{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}
{% load threadedcomments_tags %}

{% block content %}
    <div class="b-section">
        <div class="b-layout">
            <div class="b-breadcrumbs">
                <a class="b-breadcrumbs__link" href="{% url "main" %}">Главная</a> /
                <a class="b-breadcrumbs__link" href="{% url "news" %}">Новости</a>
            </div>
            <div class="grid__row">
                <div class="grid__column-9">
                    <h3 class="b-section-title">{{ news.name }}</h3>
                </div>
            </div>
            <div class="grid__row">
                <a href="../" class="b-section-back">Назад к новостям</a>
            </div>
        </div>
        {% get_comment_list for news as tree %}
        {% for comment in tree %}
        <div style="margin-left: {{ comment.depth }}em;" class="comment">
            <div style="margin-left:{{comment.depth}}em;">
                {{ comment }}
                Reply to this comment
                {% render_comment_form for news with comment.id %}
            </div>
        </div>
        {% endfor %}
        <p>Reply to Original:</p>
        {% render_comment_form for news %}
    </div>
    <div class="b-section">
        <div class="b-layout">
            <div class="grid__row">
                <div class="grid__column-4">
                    <h3 class="subheading">Новинка производства</h3>
                    <div class="b-box">
                        <div class="b-box__wrapper">
                            <div class="b-box__image-left">
                                <img src="{% static 'img/products/product_sale.png' %}" alt="Пример Продукта">
                            </div>
                            <p class="b-box__author">
                                ПЛАСТИНЧАТЫЕ ТЕПЛООБМЕННИКИ
                            </p>
                            <p class="b-box__text">
                                Разборные пластинчатые теплообменник FUNKE
                            </p>
                            <div class="b-box__sale">Хит</div>
                        </div>
                    </div>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h3 class="subheading">Последняя новость</h3>

                    <div class="b-box">
                        <div class="b-box__wrapper">
                            <p class="b-box__author">
                                СЕГОДНЯ 10:45
                            </p>
                            <p class="b-box__text">
                                Служба Яндекс.Рефераты предназнаена для студентов и школьников, дизайнеров
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h3 class="subheading">Видео как закалялась сталь</h3>
                    <div class="b-box b-box_noshadow">
                        <div class="b-box__image-halfsize">
                            <img src="{% static 'img/news/news2.png' %}" alt="Пример баннера">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
