{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}

{% block content %}
    <div class="b-section b-section_short">
        <div class="b-layout">
            <div class="breadcrumbs">Главная / Каталог /</div>
            <div class="grid__row">
                <div class="grid__column-9">
                    <h3 class="b-section-title">{{ product.name }}</h3>
                </div>
            </div>
            <div class="grid__row">
                <h3 class="b-section-text-description"><a href="../"><-</a>Назад к каталогу</h3>
            </div>
            <div class="grid__row">
                <div class="grid__column-9">
                        <ul class="view__option">
                            <li class="view__option__item view__option__item_active">Описание</li>
                            <li class="view__option__item">Документация</li>
                            <li class="view__option__item">Фото/Видео</li>
                            <li class="view__option__item">Статьи</li>
                            <li class="view__option__item">Отзывы</li>
                        </ul>
                </div>
                <div class="grid__column-9">
                    <p class="b-section-text">
                        {{ product.product_text }}
                    </p>
                </div>
                <div class="grid__column-4 grid__offset grid__offset__catalog__news">
                    <h4 class="b-section-subtitle"></h4>
                    <ul class="b-section-list">
                        {% for key in product.properties %}
                            <li class="b-section-list__item">{{ key }} - {{ product.properties.key }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-12">
                    <div class="submenu__catalog">
                        <ul class="submenu__catalog__list">
                            {% for product_image in product.productimages %}
                            <li class="submenu__catalog__list__item">
                                {{ product_image.title }}
                            </li>
                            <div class="b-box__image">
                                <img src="{% static product_image.url %}" alt="Пример Продукта">
                            </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="b-section">
        <div class="b-layout">
            <div class="grid__row">
                <div class="grid__column-4">
                    <h3 class="subheading">Новинка производства</h3>
                    <div class="b-box">
                        <div class="b-box__wrapper">
                            <div class="b-box__image-left">
                                <img src="{% static 'img/products/product_sale.png' %}" alt="Пример Продукта">
                            </div>
                            <p class="b-box__author">
                                ПЛАСТИНЧАТЫЕ ТЕПЛООБМЕННИКИ
                            </p>
                            <p class="b-box__text">
                                Разборные пластинчатые теплообменник FUNKE
                            </p>
                            <div class="b-box__sale">Хит</div>
                        </div>
                    </div>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h3 class="subheading">Последняя новость</h3>

                    <div class="b-box">
                        <div class="b-box__wrapper">
                            <p class="b-box__author">
                                СЕГОДНЯ 10:45
                            </p>
                            <p class="b-box__text">
                                Служба Яндекс.Рефераты предназнаена для студентов и школьников, дизайнеров
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h3 class="subheading">Видео как закалялась сталь</h3>
                    <div class="b-box b-box_noshadow">
                        <div class="b-box__image-halfsize">
                            <img src="{% static 'img/news/news2.png' %}" alt="Пример баннера">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
