{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}
{% load threadedcomments_tags %}

{% block content %}
    {#  get all comments count  #}
    {% get_comment_count for product as comments_count %}

    <div class="b-section b-section_short">
        <div class="b-layout">
            <div class="b-breadcrumbs">
                <a class="b-breadcrumbs__link" href="/">Главная</a> /
                <a class="b-breadcrumbs__link" href="{% url "catalog" %}">Каталог</a>
            </div>
            <div class="grid__row">
                <div class="grid__column-9">
                    <h3 class="b-section-title">{{ product.name }}</h3>
                </div>
            </div>
            <div class="grid__row">
                <a href="../" class="b-section-back">Назад к каталогу</a>
            </div>
            <div class="grid__row grid__row-btm">
                <div class="grid__column-9">
                    <ul class="b-tab b-tab-left">
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{{ request.path }}?tab=description">Описание</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{{ request.path }}?tab=docs">Документация</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{{ request.path }}?tab=photo">Фото/Видео</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{{ request.path }}?tab=articles">Статьи</a>
                        </li>
                        <li class="b-tab__item b-tab__item_active">
                            <a class="b-tab__item__link" href="{{ request.path }}?tab=review">Отзывы <span class="b-tab__item__link__counter">{{ comments_count }}</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-9">
                    <a class="b-section-subtitle b-section-subtitle_colorful" href="#">Оставить свой отзыв</a>
                    {% render_comment_form for product %}
                </div>
            </div>
                <div class="grid__column-9">
                {% get_comment_list for product as tree %}
                {% for comment in tree %}
                <div style="margin-left: {{ comment.depth }}em;" class="comment">
                    <div style="margin-left:{{comment.depth}}em;">
                        {{ comment.comment }}
                        Reply to this comment
                        {% render_comment_form for product with comment.id %}
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="grid__row">
                <div class="grid__column-12">
                    <div class="submenu__catalog">
                        <ul class="submenu__catalog__list">
                            {% for product_image in product.productimages %}
                            <li class="submenu__catalog__list__item">
                                {{ product_image.title }}
                            </li>
                            <div class="b-box__image">
                                <img src="{% static product_image.url %}" alt="Пример Продукта">
                            </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="b-section">
        <div class="b-layout">
            <div class="grid__row">
                <div class="grid__column-4">
                    <h3 class="subheading">Новинка производства</h3>
                    <a class="b-image" href="{% url 'catalog_category_inside' product_for_bottom.category.slug product_for_bottom.slug %}"><div class="b-box">
                        <div class="b-box__wrapper">
                            <div class="b-box__image-left">
                                {% if product_for_bottom.images.first %}
                                    <img src="{{ product_for_bottom.images.first.image.url }}" alt="Пример Продукта">
                                {%  else %}
                                    <img src="{% static 'img/products/product_sale.png' %}" alt="Пример Продукта">
                                {% endif %}
                            </div>
                            <p class="b-box__author">
                                {{ product_for_bottom.category.name }}
                            </p>
                            <p class="b-box__text">
                                {{ product_for_bottom.name }}
                            </p>
                            <div class="b-box__sale">Хит</div></div>
                        </div>
                    </a>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h3 class="subheading">Последняя новость</h3>

                    <div class="b-box">
                        <a class="b-image" href="{% url 'news_detail' news_for_bottom.slug %}">
                            <div class="b-box__wrapper">
                                <p class="b-box__author">
                                    {{ news_for_bottom.date_created }}
                                </p>
                                <p class="b-box__text">
                                    {{ news_for_bottom.title }}
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h3 class="subheading">Видео как закалялась сталь</h3>
                    <div class="b-box b-box_noshadow">
                        <div class="b-box__image-halfsize">
                            <img src="{% static 'img/news/news2.png' %}" alt="Пример баннера">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}