{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}
{% load threadedcomments_tags %}
{% load extras %}

{% block content %}
    {#  get all comments count  #}
    {% get_comment_count for product as comments_count %}

    <div class="b-section b-section_short">
        <div class="b-layout">
            <div class="b-breadcrumbs">
                <a class="b-breadcrumbs__link" href="/">Главная</a> /
                <a class="b-breadcrumbs__link" href="{% url "catalog" %}">Каталог</a>
                {% if product.category.parent_id %}
                    / <a class="b-breadcrumbs__link"
                         href="{% url "catalog_category" product.category.parent_id|get_full_category_path %}">{{ product.category.parent_id.name }}</a>
                {% endif %}
                {% if product.category %}
                    / <a class="b-breadcrumbs__link"
                         href="{% url "catalog_category" product.category|get_full_category_path %}">{{ product.category.name }}</a>
                {% endif %}
            / {{ title }}
            </div>
            <div class="grid__row">
                <div class="grid__column-9">
                    <h3 class="b-section-title">{{ product.name }}</h3>
                </div>
            </div>
            <div class="grid__row">
                {% if product.category %}
                    <a href="{% url "catalog_category" product.category|get_full_category_path %}" class="b-section-back">Назад к
                        каталогу</a>
                {% else %}
                    <a href="../" class="b-section-back">Назад к каталогу</a>
                {% endif %}
            </div>
            <div class="grid__row">
                <div class="grid__column-7">
                    <ul class="b-tab b-tab-left">
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{{ request.path }}">Описание</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{{ request.path }}?tab=docs">Документация</a>
                        </li>
                        <li class="b-tab__item b-tab__item_active">
                            <a class="b-tab__item__link" href="{{ request.path }}?tab=photo">Фото/Видео</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{{ request.path }}?tab=articles">Статьи</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{{ request.path }}?tab=review">Отзывы <span
                                    class="b-tab__item__link__counter">{{ comments_count }}</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-9">
                    {% if not galleries %}
                        Фото или видео к товару нет
                    {% endif %}
                    {% for gallery in galleries %}
                        {% if gallery.galleryvideo.first %}
                            <div class="grid__row grid__row-btm">
                                <div class="b-section__image">
                                    {{ gallery.galleryvideo.first.video_url }}
                                </div>
                            </div>
                        {% else %}
                            <div class="grid__row grid__row-btm">
                                <div class="b-section__image">
                                    <a class="b-link_pseudo" href="{% url "photogallery_detail" gallery.slug %}">
                                        <img src="{{ gallery.cover_image.url }}"
                                             alt="{{ gallery.cover_image.title }}">
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="grid__column-4 grid__offset">
                    <ul class="b-property">
                        {% for property in product.properties.all %}
                            {% if "Цена" in property.property.title %}
                                <li class="b-property__item">
                                    <span class="b-property__key">{{ property.property.title }}
                                        {% if property.property.units %}
                                            , {{ property.property.units }}
                                        {% endif %}</span>
                                    <span class="b-property__value b-property__value_extra">{{ property.value }}</span>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {#                        {% for property in product.string_properties %}#}
                        {#                            <li class="b-property__item">{{ property }}</li>#}
                        {#                        {% endfor %}#}
                    </ul>

                    <div class="b-box b-box-grey b-box_nohover">
                        <div class="b-box__wrapper">
                            <a class="b-btn b-btn__fullwidth" data-toggle="modal" data-target="#order" href="#">
                                <span class="b-btn__text">Заказать</span>
                            </a>
                        </div>
                    </div>
                    <div class="b-inner b-inner_simple">
                        <div class="b-slider js-slider">
                            <ul class="b-slider">
                                {% for image in product.images.all %}
                                    <li class="b-slider__item">
                                        <img src="{{ image.image.url }}" alt="{{ image.image.title }}">
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <ul class="b-property">
                        {% for property in product.properties.all %}
                            {% if "Цена" not in property.property.title %}
                                <li class="b-property__item">
                                    <span class="b-property__key">{{ property.property.title }}
                                        {% if property.property.units %}
                                            , {{ property.property.units }}
                                        {% endif %}</span>
                                    <span class="b-property__value">{{ property.value }}</span>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include 'blocks/bottom.html' %}
{% endblock %}
{% block extra-html %}
    <div class="modal fade" id="order" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="modal__close close" data-dismiss="modal" aria-label="Close"></a>
                <div class="modal-body">
                    <div class="b-block__item__wrapper">
                        <div class="b-block__item__title b-block__item__title_small b-block__item__title_left">
                            Заказать продукцию
                        </div>
                        <div class="b-section__space"></div>
                        <form class="b-form" method="post" action="{{ request.path }}?tab=photo" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="b-form-group">
                                <input type="text" class="b-form-control" placeholder="Ваше имя"
                                       id="id_name" maxlength="200" name="name" required="">
                            </div>

                            <div class="b-form-group">
                                <input class="b-form-control" placeholder="Контактный телефон"
                                       id="id_phone" maxlength="50" name="phone">
                            </div>
                            <div class="b-form-group">
                                <input class="b-form-control" placeholder="Email"
                                       id="id_email" name="email" type="email" required="">
                            </div>
                            <div class="b-form-group">
                                <input type="file" id="id_file_field" name="file_field" multiple="">
                                {% comment %}<i class="fa fa-paperclip pull-right" aria-hidden="true"></i>{% endcomment %}
                            </div>
                            <div class="b-form-group">
                                <textarea id="id_comment" maxlength="500" name="comment" required=""
                                          class="b-form-control" rows="4" placeholder="Комментарий"></textarea>
                            </div>
                            <input id="id_product" maxlength="500" name="product" type="hidden" value="{{ product.name }}">
                            <input id="id_count" maxlength="500" name="count" type="hidden" value="1">
                            <button type="submit" class="b-btn b-btn__fullwidth">
                                <span class="b-btn__text">Отправить</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
