{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}

{% block content %}
    <div class="b-section b-section_short">
        <div class="b-layout">
            <div class="breadcrumbs">Главная / Каталог /</div>
            <div class="grid__row">
                <div class="grid__column-9">
                    <h3 class="b-section-title">{{ product.name }}</h3>
                </div>
            </div>
            <div class="grid__row">
                <a href="../" class="b-section-back">Назад к каталогу</a>
            </div>
            <div class="grid__row">
                <div class="grid__column-7">
                    <ul class="b-tab">
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{{ request.path }}?tab=description">Описание</a>
                        </li>
                        <li class="b-tab__item b-tab__item_active">
                            <a class="b-tab__item__link" href="{{ request.path }}?tab=docs">Документация</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{{ request.path }}?tab=photo">Фото/Видео</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{{ request.path }}?tab=articles">Статьи</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{{ request.path }}?tab=review">Отзывы</a>
                        </li>
                    </ul>
                </div>
                <div class="grid__column-9">
                    {% for document in product.documents %}
                    <li class="submenu__catalog__list__item">
                        <a href="{{ document.file_content.url }}">{{ document.title }}</a>
                    </li>
                    {% endfor %}
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-12">
                    <div class="submenu__catalog">
                        <ul class="submenu__catalog__list">
                            {% for product_image in product.productimages %}
                            <li class="submenu__catalog__list__item">
                                {{ product_image.title }}
                            </li>
                            <div class="b-box__image">
                                <img src="{% static product_image.url %}" alt="Пример Продукта">
                            </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="b-section">
        <div class="b-layout">
            <div class="grid__row">
                <div class="grid__column-4">
                    <h3 class="subheading">Новинка производства</h3>
                    <div class="b-box">
                        <div class="b-box__wrapper">
                            <div class="b-box__image-left">
                                <img src="{% static 'img/products/product_sale.png' %}" alt="Пример Продукта">
                            </div>
                            <p class="b-box__author">
                                ПЛАСТИНЧАТЫЕ ТЕПЛООБМЕННИКИ
                            </p>
                            <p class="b-box__text">
                                Разборные пластинчатые теплообменник FUNKE
                            </p>
                            <div class="b-box__sale">Хит</div>
                        </div>
                    </div>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h3 class="subheading">Последняя новость</h3>

                    <div class="b-box">
                        <div class="b-box__wrapper">
                            <p class="b-box__author">
                                СЕГОДНЯ 10:45
                            </p>
                            <p class="b-box__text">
                                Служба Яндекс.Рефераты предназнаена для студентов и школьников, дизайнеров
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid__column-4 grid__offset">
                    <h3 class="subheading">Видео как закалялась сталь</h3>
                    <div class="b-box b-box_noshadow">
                        <div class="b-box__image-halfsize">
                            <img src="{% static 'img/news/news2.png' %}" alt="Пример баннера">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
