{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}

{% block content %}
    <div class="b-section b-section_short">
        <div class="b-layout">
            <div class="b-breadcrumbs">
                <a class="b-breadcrumbs__link" href="{% url "main" %}">Главная</a> /
                <a class="b-breadcrumbs__link" href="{% url "dokumentatsija" %}">Документы</a> /
                {{ title }}
            </div>
            <div class="grid__row">
                <div class="grid__column-7">
                    <h1 class="b-section-title">Разрешение на применение</h1>
                </div>
                <div class="grid__column-6 grid__offset">
                    <ul class="b-tab">
                        <li class="b-tab__item b-tab__item_active">
                            <a class="b-tab__item__link" href="#">Разрешение на применение</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "sertifikaty" %}">Сертификаты</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "tovarnye_znaki" %}">Товарные знаки</a>
                        </li>
                        <li class="b-tab__item">
                            <a class="b-tab__item__link" href="{% url "tekhnicheskaja_dokumentatsija" %}">Техническая
                                документация</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-9">
                    <p class="b-section-text">К сосудам высокого давления относятся устройства, которые работают под
                        давлением воды превышающей 115°С, с давлением — 0,07 МПа (0,7 кгс/см²). А так же устройства,
                        которые работают под давлением пара, различных газов или токсичных взрывопожароопасных жидкостей
                        выше 0,07 МПа (0,7 кгс/см²).</p>
                    <p class="b-section-text">Если эти сосуды попадают под эти критерии, то в отношении них должны
                        выполняться определенные правила. Для того, чтобы предотвратить различные аварии, трагедии на
                        производстве и при эксплуатации оборудования, перед изготовлением продукции нужно с особой
                        тщательностью подойти к вопросу проектирования устройств, конструированию, эксплуатации
                        оборудования. Перед тем, как запустить в производство тот или иной вид оборудования, нужно
                        провести экспертизу промышленной безопасности. Данный контроль исполняют органы Ростехнадзора.
                        Экспертиза промышленной безопасности заканчивается заключением о возможности изготовления
                        продукции.</p>
                    <p class="b-section-text">Сегодня на рынке теплообменного оборудования большое количество
                        предприятий изготавливающих сосуды высокого давления безо всякой разрешительной документации в
                        необорудованных под такое производство цехах. Заказчики, купившие такие изделия, будут иметь
                        большие проблемы. Без четко отлаженной схемы изготовления, конструкторского подхода, обученных
                        специалистов НАКС, аттестованного оборудования невозможно изготовить сосуды высокого давления, к
                        которым относятся все теплообменники, фильтры-грязевики, воздухосборники, высокого качества.</p>
                    <p class="b-section-text">Уважаемые клиенты, не приобретайте теплообменное оборудование у
                        сомнительных производителей. Запрашивайте у них в первую очередь разрешительную документацию.
                        Тем самым Вы обезопасите своих сотрудников и Ваше предприятие от различных аварий и
                        трагедий.</p>
                    <p class="b-section-text">Завод Триумф получил от специализированного подразделения ФСЭТАН новые
                        разрешения на свою продукцию для производства. Эти документы нужны любому предприятию для
                        изготовления изделий. Срок, в течении которого Завод Триумф имеет право производить данный
                        перечень продукции составляет пять лет. Без представленных документов нельзя поставить на учет
                        ни одно изделие. Выдача их установлена Административным регламентом Федеральной службы
                        Российской Федерации, выполнение которого неизбежно для всех предприятий, которые занимаются
                        изготовлением продукции.</p>
                    <p class="b-section-text">Будьте внимательны: приобретать оборудование, без разрешительной
                        документации опасно! Еще раз хочется подчеркнуть, что Завод Триумф – серьезное предприятие,
                        производящее теплообменное оборудование, один из основных поставщиков данной продукции в
                        Российской Федерации и странах СНГ.</p>
                </div>
                <div class="grid__column-4 grid__offset">
                    <img class="b-section-logotype" src="{% static 'img/logotype_square.png' %}"
                         alt="Логотип_маленький"/>
                    <h4 class="b-section-subtitle">Будьте внимательны:</h4>
                    <ul class="b-section-list">
                        <li class="b-section-list__item">приобретать оборудование без разрешительной документации
                            опасно!
                        </li>
                        <li class="b-section-list__item">Еще раз хочется подчеркнуть, что Завод Триумф - серьезное
                            предприятие, производящее теплообменное оборудование, один из основных поставщиков данной
                            продукции в Российской Федерации и странах СНГ.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include 'blocks/bottom.html' %}
{% endblock %}

