{% extends "blocks/base.html" %}

{# TODO: remove that loading #}
{% load static from staticfiles %}
{% load extras %}

{% block content %}
    <div class="b-section b-section_short">
        <div class="b-layout">
            <div class="b-breadcrumbs b-breadcrumbs_white">
                <a class="b-breadcrumbs__link" href="{% url "main" %}">Главная</a> /
                <a class="b-breadcrumbs__link" href="{% url "videogallery" %}>">Видеогалерея</a>
            </div>
        </div>
    </div>
    <div class="b-block">
        <a class="b-link_pseudo js-light" href="https://www.youtube.com/embed/CACFIGzRiGM" data-featherlight="iframe"
           data-featherlight-iframe-width="960" data-featherlight-iframe-height="540">
            <div class="b-block__item b-block__item_video">
                <img src="{% static 'img/news/example.png' %}" alt="Тайтл картинки">
                <h2 class="b-block__title">Как закалялась сталь</h2>
                <div class="b-block__desc">
                    Видео обзор с всероссийского форума «ЖКХ – новое качество», прошедшего в июне в Челябинске.
                    Конференция под руководством Дмитрия Медведева собрала работников коммунальной сферы из многих
                    регионов для обсуждения актуальных вопросов отрасли.
                    «Завод Триумф» стал участником крупной выставки, посвященной форуму.
                </div>
                <div class="b-block__play"></div>
            </div>
        </a>
    </div>
{% endblock %}
